   <div class="layout-width flex-between">
     <button class="l-xl-1 l-xxl-15 top-175px position-absolute w-150px h-150px no-outline bg-trans white z-1000"
       (click)="prev()">
       <i class="arrow-left  w-50px h-50px"></i>
     </button>
     <button class="r-xl-1 r-xxl-15 top-175px position-absolute  w-150px h-150px no-outline bg-trans white z-1000"
       (click)="next()">
       <i class="arrow-right  w-50px h-50px"></i>
     </button>
   </div>

   <ion-slides mode="ios" pager="ios" scrollbar="ios" #slides>
     <ion-slide *ngFor="let x of [].constructor(10)">
       <div class="w-100 h-500px  cover"
         style="background-image: url(/assets/img/desktop-home-top-slider/img_mainbanner.png);">
       </div>
     </ion-slide>
   </ion-slides>