<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content class="bg-light-gray bg-md-background-image">

  <ion-toolbar *ngIf="a.isDesktop" color="green" class="mobile-width mt-md-70px" text-center>
    <ion-title>{{ a.t({ en: 'Password Find', ko: '비밀번호 찾기' }) }}</ion-title>
  </ion-toolbar>

  <section>

    <ion-input type="email" [(ngModel)]="email" placeholder="{{ a.t({en: 'Please input your email', ko: '회원 이메일 주소를 입력하세요.' }) }}"></ion-input>
    <ion-button (click)="onSubmit()">Send Email</ion-button>

  </section>

</ion-content>
