

<ion-toolbar class="i-min-height pl-2 ">
  <ion-title class="fs-14 bold pl-0  ">{{ a.t({ en: 'Testimonials', ko: '프로그램 후기' }) }}</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/testimonial" class="green fs-12 i-pr-0">
      more
      <ion-icon name="arrow-forward" mode="ios"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-grid class="ion-no-padding pl-2 ">
  <ion-row>
    <ion-col size="6" class="ion-no-padding pr-2 " color="primary" *ngFor="let item of [].constructor(4)">

      <ion-card class="no-box-shadow no-border-radius ion-no-margin" button routerLink="/post-view">

        <ion-img alt=".... alt ...."  src="\assets\img\post-image.png"></ion-img>
        <ion-card-content class="ion-no-padding">
          <p color="medium" class="fs-10 pt-2 pb-19px">
            서설명명서설명명서명명서명명서명명서명명서명서설명명서명서설
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>