<ion-toolbar class="i-min-height pl-2 " mode="md">
  <ion-title class="fs-14 bold pl-0  ">{{ a.t({ en: 'Testimonials', ko: '프로그램 후기' }) }}</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/testimonial" class="green fs-12 i-pr-0" mode="md">
      more
      <ion-icon name="arrow-forward" mode="ios"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-grid class="ion-no-padding pl-2 ">
  <ion-row>
    <ion-col size="6" class="ion-no-padding pr-2 " color="primary" *ngFor="let p of posts">

      <ion-card class="no-box-shadow no-border-radius ion-no-margin" button routerLink="/post-view/{{ p.ID }}">

        <div class="img-size cover" [style.background]="'url(' + p.files[0].url + ')'">

        </div>

        <ion-card-content class="ion-no-padding">
          <p color="medium" class="pt-2 fs-14  bold  ellipsis ">
            {{ p.post_title }}
          </p>
          <p color="medium" class="pb-19px fs-12 ellipsis">
            {{ p.post_content }}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>