<div class="flex pt-10 px-15">
  <span>{{ a.t({ en: 'Testimonials', ko: '프로그램 후기' }) }}</span>
  <span class="spacer"></span>
  <span class="green fs-12 ">
    <span class="arrow-text">NEXT </span>
    <ion-icon class="arrow-icon" name="arrow-forward" mode="ios"></ion-icon>
  </span>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="6" color="primary" *ngFor="let item of [].constructor(4)">
      <img alt=".... alt ...." class="mh-100"
        src="https://static1.squarespace.com/static/571fb0c760b5e9a0a98cc71c/5c3cf3b9758d4640ed8e42f1/5c3cf47a1ae6cfa74d78926d/1549515177784/Santa-Barbara-Hotel-Photography-Mark-Skovorodko0003.jpg">
      <ion-text color="medium">
        <p class="fs-10 pt-3px pb-5px ">서설명명서설명명서명명서명명서명명서명명서명서설명명서명서설</p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>