
  <section *ngIf="a.isDesktop">

  ID: {{ ID }}
      <ion-text color="green" text-center>
        <h1 class="mt-0 fs-32px bold ">스트레칭</h1>
      </ion-text>
  
      <p class="w-460px m-auto fs-14 ion-text-center gray">스트레칭 스트레칭스트레칭스트레칭레칭스트레칭스트레칭스트레칭스트레칭스트레칭스트레칭스트트레칭</p>
    </section>
  

    <section class="grid md-pt-70px">
  
      <ion-grid>
        <ion-row>
          <ion-col class="md-pr-10px lg-pr-44px" size="12"  size-md="5">
            <ion-img src="/assets/img/home_item.jpg"></ion-img>
          </ion-col>
          <ion-col class="md-pl-10px lg-pl-44px" size="12" size-md="7">
            <ion-text color="green">
              <h2 class="m-0 xs-fs-22px fs-38px">Awesome text</h2>
            </ion-text>
  
            <p class="md-pt-2 lg-pt-40px lh-25px fs-14 gray">It is a long established fact that a reader will be distracted by the
              readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed stablished fact that a reader will be distr to using 'Content here, content It is a
              long established fact that a reader willut. The point of using Lorem Ipsum is that it has a more-o b</p>
  
          </ion-col>
        </ion-row>
      </ion-grid>
    </section>
  
    <section class="grid md-pt-100px pb-150px">
  
      <ion-grid>
        <ion-row>
          <ion-col class="md-pr-10px lg-pr-44px" size="12" size-md="6">
            <ion-text color="green">
              <h2 class="m-0 xs-fs-22px  fs-38px">Awesome text</h2>
            </ion-text>
  
            <p class="md-pt-2 lg-pt-40px lh-25px fs-14 gray">It is a long established fact that a reader will be distracted by the
              readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed stablished fact that a reader will be dist The point of using Lorem Ipsum is that it
              has a more-o b</p>
            <p class="md-pt-2 lg-pt-40px lh-25px fs-14 gray">It is a long established fact that a reader will be distracted by the
              readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed stablished fact that a reader will be dist The point of using Lorem Ipsum is that it
              has a more-o b</p>
  
          </ion-col>
          <ion-col class="md-pl-10px lg-pl-44px" size="12" size-md="6">
            <ion-text color="green">
              <h2 class="m-0 xs-fs-22px  fs-38px">Awesome text</h2>
            </ion-text>
  
            <p class="md-pt-2 lg-pt-40px lh-25px fs-14 gray">It is a long established fact that a reader will be distracted by the
              readable content of a page when
              looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
              letters, as opposed stablished fact that a reader will be dist The point of using Lorem Ipsum is that it
              has a more-o b</p>
  
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </section>
