<ion-header no-border>
  <app-header></app-header>

</ion-header>

<ion-content>


  <app-join-menu></app-join-menu>


  <section *ngIf="a.isMobile">
    <ion-toolbar mode="md">
      <ion-title class="fs-14 bold green" slot="start">{{ alarmsTitle.post_title }}</ion-title>
      <ion-buttons slot="end" mode="md">
        <ion-button (click)="onClickArrow()" mode="md">
          <ion-icon slot="icon-only" name="{{ arrowIcon }}" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <div class="position-relative content" [ngClass]="{'collapsed': hide}">
      <ion-text color="medium">
        <p class="px-20px pb-3 lh-25px">
          <app-page-post-content [guid]=" 'alarmsTitle' " [post]=" alarmsTitle " (edited)=" alarmsTitle = $event ">
          </app-page-post-content>
        </p>
      </ion-text>
    </div>
  </section>




  <section *ngIf="a.isDesktop">

    <ion-text color="green" text-center>
      <h1 class="mb-0 pt-100px fs-32px">{{ alarmsTitle.post_title }}</h1>
    </ion-text>

    <div class="pt-5 pb-5 w-478px lh-25px">

      <ion-text color="medium">
        <app-page-post-content [guid]=" 'alarmsTitle' " [post]=" alarmsTitle " (edited)=" alarmsTitle = $event ">
        </app-page-post-content>
      </ion-text>

    </div>


  </section>


  <!-- alarms -->
  <section class="pb-5 md-pb-150px md-page-width md-no-border  border-top-gray z-1000  ">

    <!-- <ion-button  (click)="onClickAlarmUpdate($event, null)">Create</ion-button> -->
    <!-- <div class="ion-text-end">
      <ion-button (click)="onClickAlarmUpdate($event, null)">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </div> -->



    <div class="mt-3 flex-center" *ngIf="creatingDefaultAlarms">
      <ion-spinner></ion-spinner>
      <div class="ml-3">{{ a.t({en: 'Creating default alarams. Please wait.', ko: '기본 알람 설정을 하는 중입니다. 잠시만 기다려주세요.'}) }}
      </div>
    </div>



    <ion-list *ngIf=" alarms?.length ">
      <ion-item class="md-mt-3 md-shadow-2 pointer" lines="none" *ngFor="let alarm of alarms">

        <ion-grid no-padding>
          <ion-row>
            <ion-col class="flex-column-center md-py-20px " size="3" (click)="onClickAlarmUpdate(alarm)">
              <ion-label class="fs-18px" color="green">{{  displayHour(alarm.hour) }}:{{ a.add0(alarm.minute) }}
                <span *ngIf="!checkHour(alarm.hour)">AM</span>
                <span *ngIf="checkHour(alarm.hour)">PM</span>
              </ion-label>
            </ion-col>
            <ion-col class="fs-14 md-py-20px" size="7" (click)="onClickAlarmUpdate(alarm)">
              <p class="black bold">{{ alarm.title }}</p>
              <p class="i-color-medium">{{ alarm.content }}</p>
              <!-- <p>
                {{ alarm.sunday == 'Y' ? '일' : ''}}
                {{ alarm.monday == 'Y' ? '월' : ''}}
                {{ alarm.tuesday == 'Y' ? '화' : ''}}
                {{ alarm.wednesday == 'Y' ? '수' : ''}}
                {{ alarm.thursday == 'Y' ? '목' : ''}}
                {{ alarm.friday == 'Y' ? '금' : ''}}
                {{ alarm.saturday == 'Y' ? '토' : ''}}
              </!-->
            </ion-col>
            <ion-col class="flex-column-center md-py-20px" size="2" no-padding>

              <ion-buttons>
                <ion-toggle class="pl-1" color="success" mode="md" [checked]=" alarm.enabled == 'Y' "
                  (ionChange)="onToggleAlarm(alarm)"></ion-toggle>
                <ion-button (click)="onClickDelete(alarm)">
                  <ion-icon name="close"></ion-icon>
                </ion-button>
              </ion-buttons>

            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
    </ion-list>

    <!-- <ion-item button *ngIf="! alarms?.length" (click)="onClickAlarmUpdate($event, null)">
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>앗, 알림 스케쥴이 없습니다. [알림 스케쥴 생성하기]</ion-label>
    </ion-item> -->

  </section>




  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>