<div class="ion-text-center">
  <ion-radio-group>
    <ion-item class="d-iblock" lines="none">
      <ion-radio (ionSelect)="onClick($event, 'meditation')" checked no-padding></ion-radio>
      <ion-label>{{ a.t({en: 'Meditation', ko: '명상'}) }}</ion-label>
    </ion-item>
    <ion-item class="d-iblock" lines="none">
      <ion-radio (ionSelect)="onClick($event, 'yoga')"></ion-radio>
      <ion-label>{{ a.t({en: 'Yoga', ko: '요가'}) }}</ion-label>
    </ion-item>
    <ion-item class="d-iblock" lines="none">
      <ion-radio (ionSelect)="onClick($event, 'stretching')"></ion-radio>
      <ion-label>{{ a.t({en: 'Stretching', ko: '스트레칭'}) }}</ion-label>
    </ion-item>
    <ion-item class="d-iblock" lines="none">
      <ion-radio (ionSelect)="onClick($event, 'core')"></ion-radio>
      <ion-label>{{ a.t({en: 'Core', ko: '코어'}) }}</ion-label>
    </ion-item>
  </ion-radio-group>
</div>