.page-width {
    max-width: 1020px !important;
    margin: 0 auto !important;
}

.mobile {
    color: #bababa !important;
}

.bg-light-black {
    background-color: rgba(0, 0, 0, 0.568) !important;
}

// .text-limit {
//     width: 310px;
//     white-space: nowrap ;
//     overflow: hidden ;
//     text-overflow: ellipsis;
// }

.color-gray {
    color: #ddd;
}

.diary-image {
    @media all and (min-width: 768px) {
        height: 227px !important;
        width: 100% !important;
        object-fit: cover !important;
    }

    @media all and (max-width:768px) {

        height: 400px !important;
        width: 100% !important;
        object-fit: cover !important;
    }


}

