.page-width {
    max-width: 1020px !important;
    margin: 0 auto !important;
}

.mobile {
    color: #bababa !important;
}

.bg-light-black {
    background-color: rgba(0, 0, 0, 0.568) !important;
}

// .text-limit {
//     width: 310px;
//     white-space: nowrap ;
//     overflow: hidden ;
//     text-overflow: ellipsis;
// }