<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>


  <section class="md-pt-100px">

    <div class="position-relative page-width">
      <ion-text color="green">
        <h1 class="fs-32px ion-text-center bold">{{ diaryTitle?.post_title }}</h1>
      </ion-text>

      <ion-text color="medium">
        <p class="pt-4 ion-text-center">
          <app-page-post-content [guid]=" 'diaryTitle' " [post]=" diaryTitle " (edited)=" diaryTitle = $event ">
          </app-page-post-content>
        </p>
      </ion-text>

    </div>


    <div class="ion-text-center">
      <ion-button class="mt-2  md-mt-5 h-68px w-200px no-border-radius fs-16px no-box-shadow " mode="md" color="green"
        (click)="onClickPost()">
        {{ a.t( {en: 'Write Diary', ko: '일기 쓰기'} ) }}
      </ion-button>
    </div>

  </section>


  <section class=" pb-5 page-width">

    <ion-grid class="xs-mt-3 " no-padding>
      <ion-row>
        <ion-col class="xs-px-2 xs-py-1 md-pt-50px" size="12" size-md="6" size-lg="4" no-padding
          *ngFor="let p of posts">

          <ion-card class="card" *ngIf="a.isDesktop" >
            <img class="diary-image" src="{{ p.files[0].url }}" alt="image_diary" *ngIf="p.files.length">
            <ion-card-content no-padding>

              <ion-grid class="pt-2" no-padding>
                <ion-row class="fs-14px">
                  <ion-col class="green pointer" no-padding  (click)=" onEdit( p ) ">Edit</ion-col>
                  <ion-col class="ion-text-center green pointer" size="5" no-padding>표제표제표제표제</ion-col>
                  <ion-col class="ion-text-right medium pointer" no-padding (click)="onDelete( p )">Delete</ion-col>
                </ion-row>
              </ion-grid>

              <h2 class=" py-2 fs-22px fw-600 green ">{{ p.post_title }}</h2>

              <p class=" fs-12 medium">{{ p.post_content }}</p>

            </ion-card-content>
          </ion-card>

          <div class="mobile position-relative" *ngIf="a.isMobile" >
            <img class="diary-image" src="{{ p.files[0].url }}" alt="image_diary" *ngIf=" p.files.length ">

            <div class="position-absolute top  p-3 h-100 w-100 bg-light-black z-1000 ">

              <ion-grid class="pt-2" no-padding>
                <ion-row class="fs-12px ">
                  <ion-col class="color-gray" no-padding>표제표제/표제표제</ion-col>
                  <ion-col class="ion-text-right color-gray" no-padding>표제표제</ion-col>
                </ion-row>
              </ion-grid>

              <div class="position-absolute bottom ">
                <h2 class="m-0 fs-22px fw-600 white ">{{ p.post_title }}</h2>
                <p class="pr-2 fs-14  color-gray">{{ p.post_content }}</p>
                <div class="flex-start">
                  <ion-button class="ion-no-margin my-2 white border-gray" fill="clear"  (click)=" onEdit( p ) ">
                    Edit
                  </ion-button>
                  <ion-button class="ion-no-margin my-2 white border-gray" fill="clear"  (click)=" onDelete( p ) ">
                    Delete
                  </ion-button>
                </div>
              </div>

            </div>


          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </section>


  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>