<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <section class="pt-100px">

    <ion-text color="green">
      <h1 class="fs-32px ion-text-center bold">Awesome text</h1>
    </ion-text>

    <ion-text color="medium">
      <p class="pt-4 ion-text-center">Awesome textAwesome textAwesome textAwesome textAwesome text</p>
    </ion-text>

    <div class="ion-text-center">
      <ion-button class="mt-5 h-68px w-200px no-border-radius fs-16px no-box-shadow " mode="md" color="green">
        Awesome
      </ion-button>
    </div>

  </section>


  <section class="page-width">

    <ion-grid no-padding>
      <ion-row>
        <ion-col class="pt-50px" size="4" no-padding *ngFor="let x of [].constructor(20)">

          <ion-card class="card">
            <ion-img src="/assets/img/sample_image_diary.png" alt="image_diary"></ion-img>
            <ion-card-content no-padding>

              <ion-grid class="pt-2" no-padding>
                <ion-row class="fs-14px">
                  <ion-col class="green" no-padding>표제표제</ion-col>
                  <ion-col class="ion-text-center green" size="5" no-padding>표제표제표제표제</ion-col>
                  <ion-col class="ion-text-right medium"  no-padding>표제표제</ion-col>
                </ion-row>
              </ion-grid>

              <h2 class="py-2 fs-22px fw-600 green ">표제표제표제표제표제표제</h2>
              <p class="fs-12 medium">표제표제표제표제표제표제표제표제표제표제표제표제표제표제표제표제표제표제</p>

            </ion-card-content>
          </ion-card>




        </ion-col>
      </ion-row>
    </ion-grid>







  </section>







</ion-content>