.title-mobile {
    @media all and (max-width: 768px)  {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 !important;
        padding: .25em 0 !important;
        width: 100% !important;
        color: #f4f5f8 !important;
        text-align: center !important;
        font-size: 32px !important;
        background-color: rgba(0, 0, 0, 0.4) !important;
    }
  


}

.page-width {
    max-width: 800px !important;
    margin: 0 auto !important;
}

@media all and (max-width: 768px) {

    ion-col:first-child {
        padding-top: 0 !important;
    }
}
