<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>
  <section class="page-width" *ngIf="a.isDesktop">
    <ion-text color="green" text-center>
      <h1 class="pt-100px fs-32px">{{ recipeTitle?.post_title }}</h1>
    </ion-text>

    <ion-text color="medium" text-center>
      <app-page-post-content [guid]=" 'recipeTitle' " [post]=" recipeTitle " (edited)=" recipeTitle = $event ">
      </app-page-post-content>
    </ion-text>
  </section>

  <section class="page-width">

    <ion-grid class="px-2 md-pt-5  ion-no-padding">

      <ion-row class="xs-pt-4 pb-150px ion-no-padding">

        <ion-col class="md-px-4 pt-60px ion-align-self-center ion-no-padding pointer" size="12" size-md="6"
          *ngFor="let p of posts" routerLink="/detoxification-recipe-item/{{ p.ID }}">

          <div class="photo position-relative">
            <ion-img src="{{ p.files[0].url }}" *ngIf=" p.files[0].url "></ion-img>
            <h1 class="title-mobile fs-22px  green">{{ p.post_title }}</h1>
          </div>

          <div class="pt-2 fs-14 lh-20px medium">
           {{ p.post_content }}
          </div>
          
        </ion-col>

      </ion-row>
    </ion-grid>
  </section>

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>
</ion-content>