ion-segment-button {
  --background: #fff !important;
  --background-activated: #4b74b8 !important;
  --background-checked: #4b74b8 !important;
  --background-hover: #4b74b8 !important;
  --border-color: #4b74b8 !important;
  --border-radius: 4px;
  --border-style: solid;
  --border-width: 1px;
  --color: #4b74b8 !important;
  --color-activated: #fff !important;
  --color-checked: #fff !important;
  --color-checked-disabled: #fff !important;
  --color-disabled: #fff !important;
  --indicator-color: #fff !important;
  --indicator-color-checked: #4b74b8 !important;
}
