<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="layout-width">


    <!-- Scrollable Segment -->
    <ion-segment class="layout-600px md-pt-5" #forum (ionChange)="onIonChangeForum( forum )"
      *ngIf=" !slug && !keyword " mode="md" color="green">
      <ion-segment-button checked value="discussion" mode="md">
        <ion-label>자유게시판</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="qna">
        <ion-icon name="help-circle"></ion-icon>
        <ion-label>질문과답변</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="testimonial" mode="md">

        <ion-label>후기</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="reminder">
        <ion-icon name="done-all"></ion-icon>
        <ion-label>공지사항</ion-label>
      </ion-segment-button>
      <ion-segment-button value="faq">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>자주묻는질문</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="knowhow" mode="md">
        <ion-label>노하우</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="products">
        <ion-icon name="basket"></ion-icon>
        <ion-label>제품소개</ion-label>
      </ion-segment-button> -->
    </ion-segment>



    <app-ion-post-list [slug]="slug" [keyword]="keyword"></app-ion-post-list>

  </div>

</ion-content>