.page-width {
    max-width: 950px !important;
    margin: 0 auto !important;
}

.title {
    @media all and (min-width: 768px) {
        padding-top: 50px;
        font-size: 32px  !important;
        text-align: center;
    }
    @media all and (max-width: 768px) {
        font-size: 16px !important;
    }
}

ion-content {
    @media all and (min-width: 768px) {
      --background: url(/assets/img/bg_transparent.jpg) 0 0 /100% 100% no-repeat !important;
    }
  }
  