<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>


  <section class="pt-100px page-width">
    <ion-text color="green" text-center>
      <h1 class="fs-32px">TITLE</h1>
    </ion-text>

    <ion-grid class="pt-50px pb-320px">
      <ion-row>
        <ion-col class="pr-4" size="7" >
          <ion-img src="/assets/img/aboutdetox.jpg"></ion-img>
        </ion-col>
        <ion-col class="pl-4 lh-25px" size="5">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. 
        
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>


</ion-content>