<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>
  <section class="page-width p-4 fs-12">

    <div class="pb-4">
      <ion-text color="green">
        <h1 class="fs-16px bold" [ngClass]="{'title': a.isDesktop  }">이용 약관</h1>
      </ion-text>
    </div>

    <div class="pt-1">
      <ion-text class="bold red">
        <p>1. TEXT</p>
      </ion-text>
      <p class="pt-2">
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인
      </p>
    </div>

    <div class="pt-1">
      <ion-text class="bold red">
        <p>2. TEXT</p>
      </ion-text>
      <p class="pt-2">
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인
      </p>
    </div>

    <div class="pt-1">
      <ion-text class="bold red">
        <p>3. TEXT</p>
      </ion-text>
      <p class="pt-2">
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인
      </p>
    </div>

    <div class="pt-1">
      <ion-text class="bold red">
        <p>4. TEXT</p>
      </ion-text>
      <p class="pt-2">
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인개인
        개인개인개인개인개인개인개인개인
      </p>
    </div>

  </section>


</ion-content>