.page-width {
    max-width: 800px !important;
    margin: 0 auto;
}

.red {
    color: #ee0024 !important;
}

p {
    line-height: 25px !important;
}

.title {
    font-size: 32px !important;
    text-align: center;
    padding-top: 12px !important;
    padding-bottom: 1.5em !important;
}