<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="page-width-md mt-5 mb-4 flex-center">
    <h1 class="normal fs-lg green">
      {{ tipTitle.post_title }}
    </h1>
    <app-admin-page-edit-button class="d-block ml-5" [guid]=" guid " (edited)=" tipTitle = $event ">
    </app-admin-page-edit-button>
  </div>

  <section class="page-width pb-100px">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" *ngFor="let p of posts">
          <ion-card class="card border">
            <ion-img src="{{ p.files[0].url }}"></ion-img>
            <ion-card-subtitle class="px-10px pt-2 fs-12 ellipsis">{{ p['string1'] }}</ion-card-subtitle>
            <ion-card-header class="px-10px py-2">
              <ion-card-title class="fs-16px green bold ellipsis">{{ p.post_title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="px-10px fs-14 ">

              <p>{{  p.post_content.substring(0 , 90) }} ...</p>

              <p class="pt-4 fs-10 underline">{{ p.short_date_time }}</p>

              <ion-button class="position-absolute bottom right m-0 z-1000 no-box-shadow no-border-radius "
                color="light" routerLink="/detoxification-tip-detail/{{ p.ID }}">
                <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
              </ion-button>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-text-center pt-4">
      <ion-button class="h-52px w-200px black border-light no-box-shadow bold" mode="md" fill="outline">
        목멋진
      </ion-button>
    </div>


  </section>


  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>