.page-width {
    max-width: 360px;
    margin: 0 auto;
}

.md-page-width {
    max-width: 440px;
    margin: 0 auto;
}




ion-col {
    border: 1px solid rgb(211, 211, 211);
    background-color: #ffffff !important;
    --background: #ffffff !important;

}
.no-border-right {
    border-right: none;
}



.w-140px {
    width: 140px !important;
}

.title {
    font-size: 16px !important;
    color: black !important;
    font-weight: bold;

    @media all and (min-width: 768px) {
        font-size: 32px !important;
        color: #7db262 !important;
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
}

@media all and (min-width: 768px) {

    .form {
        padding: 25px !important;
    }

    .border {
        border: 2px  solid #84b66a !important;
    }
    

}


ion-input {
    border: 1px solid rgb(196, 196, 196) !important;
    margin-right: 10px !important;
}



.graph-outer {
    // padding: 1em .5em;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;

    .graph {
        position: relative;
        margin: 0 auto;
        width: 320px;

        .lines {
            position: relative;
            padding: 16px 0;

            .base-line {
                width: 100%;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 2px solid blue;
            }

            .warning-line {
                position: absolute;
                border-top: 0;
                border-left: 0;
                border-right: 0;
                border-bottom: 2px solid red;

                .circle-button {
                    position: absolute;
                    top: -6px;
                    right: -6px;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: red;
                }
            }
        }
    }

    

    .hide {
        color: white;
    }
}

.blue {
    color: #0996ff;
}
.yellow {
    color: rgb(230, 230, 0);
}
.orange {
    color: orange;
}
.red {
    color: red;
}

.border-right {

  
    border-right-color: #82b569 !important;
    border-right-width: 1px !important;
}

.label {
    padding-bottom: 10px;
    div {
        float:left;
    }
}

.label-bottom {
    div {
        float: left;
    }

}

