<div class="float-right" *ngIf="close">
  <ion-button fill="clear" color="green" (click)="popoverController.dismiss()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
</div>
<section class="page-width pb-50px p-4 fs-12">

  <div class="pb-4">
    <ion-text color="green">
      <h1 class="title fs-16px bold">이용 약관</h1>
    </ion-text>
  </div>

  <div class="position-relative pt-1" *ngFor=" let item of posts | keyvalue; let i = index ">
    <ion-text class="bold red">
      <p>{{item.value?.post_title}}</p>
    </ion-text>

    <div class="content">
      <app-page-post-content [guid]=" name + '-' + i " [post]=" item.value " (edited)=" item.value = $event ">
      </app-page-post-content>
    </div>

  </div>

  <div class="flex-center mt-4" *ngIf="close">
      <ion-button color="danger" (click)="popoverController.dismiss()" >
        Close
      </ion-button>
    </div>

</section>