<ion-header>
  <app-header></app-header>
</ion-header>


<ion-content>

  <section class="section-top-width" *ngIf=" post ">

    <div class="position-relative page-width-md">
      <ion-text color="green">
        <h1 class="title">{{ post.post_title }}</h1>
      </ion-text>

      <div class=" px-20px md-text-center" [innerHTML]=" post.post_content "></div>

    </div>


    <ion-grid class="px-20px pt-5" *ngIf="posts">


      <ion-row>
        <ion-col class="flex-center md-pr-10px  lg-pr-60px" size="12" size-md="5">
          <ion-img class="w-375px " src="{{ post.files[0].url }}" *ngIf=" post.files[0].url "></ion-img>
        </ion-col>

        <ion-col class="md-pl-10px lg-pl-60px" size="12" size-md="7">
          <ion-text color="green">
            <p class="pt-4 fs-16px md-fs-38px">{{ posts[post.ID + '-' + 0].post_title }}</p>
          </ion-text>

          <div class="position-relative pt-2 md-pt-4 fs-14 lh-22px gray">
            <app-page-post-content [guid]=" post.ID + '-' + 0 " [post]=" posts[post.ID + '-' + 0] "
              (edited)=" posts[post.ID + '-' + 0] = $event ">
            </app-page-post-content>
          </div>

          <div class="pt-3 lg-pt-50px">

            <ion-img class="size-15px" src="/assets/img/icons/quote_green.png"></ion-img>

            <div class="position-relative pt-4 fs-18px xs-text-center lh-25px fw-300 italize green">
              <app-page-post-content [guid]=" post.ID + '-' + 1 " [post]=" posts[post.ID + '-' + 1] "
                (edited)=" posts[post.ID + '-' + 1] = $event ">
              </app-page-post-content>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <section class="xs-px-20px pt-30px pb-5 section-bottom-width">

    <ion-grid no-padding>
      
        <ion-row class="position-relative pt-3 md-mt-50px" *ngFor=" let item of steps() | keyvalue; let i = index ">



          <ion-col class="flex-center pl-3" push-sm="7" size="12" size-sm="5" *ngIf="item.value"  >

            <!-- <img class="border-radius-5px" src=" {{   item.value.files[0].url }}   " > -->
        
          </ion-col>



          <ion-col class="pr-2" pull-sm="5" size="2" size-sm="1" no-padding *ngIf="item.value?.post_content">

            <div class="mt-1 float-right size-30px  flex-center fs-18px lh-18px radius-15px  white"
              style="background-color:#74b243">
              {{   i + 1 }}
            </div>

          </ion-col>

          <ion-col size="10" pull-sm="5" size-sm="6" no-padding>

            <div class="fs-22px dark-gray-2">
              <app-page-post-content [guid]="   post.ID + '-' +   (i*1 + 2) " [post]="  item.value "
                (edited)=" item.value = $event ">
              </app-page-post-content>
            </div>


          </ion-col>



        </ion-row>

    </ion-grid>

  </section>



  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>
</ion-content>