.section-top-width {
    max-width: 1024px !important;
    margin: 0 auto !important;
}

.section-bottom-width {
    max-width: 690px !important;
    margin: 0 auto !important;
}


.size-15px {
    height: 15px !important;
    width: 15px !important;
}