<section>
    <ion-text color="green" text-center *ngIf="a.isDesktop">
      <h1 class="pt-50px mt-0 fs-32px fw-500">표제표제표제</h1>
    </ion-text>

    <div class="flex-center xs-min-h-100px border-bottom bg-white">
      <p class="pt-4 xs-p-3  xs-pl-15px  fs-14 md-text-center  medium">
        표제표제표제표제표제표제표제표제표제표제표제표제표제표제표제표제
      </p>
    </div>

    <div class="checklist pb-100px bg-white">

      <ion-item class="item" lines="none" *ngFor="let x of [].constructor(15); let i = index;">
        <ion-checkbox class="mr-0 md-checkbox" slot="start" color="green" mode="md">
        </ion-checkbox>
        <ion-text class="pl-2 md-pl-3" color="medium"> {{ (i + 1) + '. '}}표제표제표제표제표제표제표제표제표제표제표제표제표</ion-text>
      </ion-item>

      <div class="pt-3 md-pt-80px  md-flex-center bg-white">
        <ion-button expand="full" class="m-0 h-68px xs-h-52px md-w-200px  no-border-radius no-shadow" color="green">
          표제표표
        </ion-button>
      </div>

    </div>

  </section>