<section>

  <ion-text text-center *ngIf="a.isDesktop">
    <h1 class="title">{{ a.t({en: 'Test Toxins', ko: '독소지수 측정'}) }}</h1>
  </ion-text>

  <section *ngIf="!showResult">


    <div class="flex-center xs-min-h-100px border-bottom bg-white" #target>
      <p class="subtitle pt-4 xs-p-3  xs-pl-15px  fs-14 ion-text-center medium">
        {{ a.t({en: 'Check if you have symtoms of the question. ', ko: '아래의 질문에 해당하면 체크하세요.'})}}
        <br *ngIf="a.isMobile">
        {{ a.t({en: 'Each checkboxes are equivalent to score 1.', ko: '해당되면 +1점. 안되면 0점입니다.'})}}

      </p>
      <app-admin-page-edit-button [guid]=" guid " (edited)=" resetQueries( $event ) "></app-admin-page-edit-button>
    </div>

    <form class="checklist pb-100px bg-white" (ngSubmit)="onSubmit()">

      <ion-item class="item" lines="none" *ngFor="let q of queries; let i = index;">
        <ion-checkbox class="mr-0 md-checkbox" name="q{{i}}" slot="start" color="green" mode="md"
          [(ngModel)]="checkes[i]">
        </ion-checkbox>
        <ion-text class="pl-2 md-pl-3" color="medium">{{ q }}</ion-text>
      </ion-item>

      <div class="pt-3 md-pt-80px  md-flex-center bg-white">
        <ion-button class="m-0 h-68px xs-h-52px md-w-200px  no-border-radius no-shadow" type="submit" expand="full"
          color="green" (click)="scrollTop(target)">
          {{ a.t({en: 'Submit', ko: '결과 확인'}) }}
        </ion-button>
      </div>

    </form>
  </section>

  <section class="result " *ngIf="showResult">
    <!-- Result<br>
    {{ scoreWidth | json }} -->
    <ion-text text-center *ngIf="a.isMobile">
      <h1 class="title">{{ a.t({en: 'Test Toxins', ko: '독소지수 측정'}) }}</h1>
    </ion-text>
    <p class="pt-4 xs-p-3 pb-5 xs-pl-15px  fs-14 md-text-center  medium " *ngIf="a.isDesktop">
      {{ a.t({en: 'Check if you have symtoms of the question. Each checkboxes are equivalent to score 1.', ko: '아래의 질문에 해당하면 체크하세요. 해당되면 +1점. 안되면 0점입니다.'})}}
    </p>

    <div class="border page-width md-mt-40px pt-3">
      <div class="graph-outer">
        <footer class="graph">
          <header>
            <div class="normal">
              정상
            </div>
            <div class="box bad">
              <div class="text">
                <div class="text-inner">나쁨</div>
              </div>
            </div>
            <div class="box warn">
              <div class="text">
                <div class="text-inner">위험</div>
              </div>
            </div>
            <div class="box danger">
              <div class="text">
                <div class="text-inner">고위험</div>
              </div>
            </div>
            <div class="box patient">
              <div class="text">
                <div class="text-inner">환자</div>
              </div>
            </div>
          </header>
          <div class="content lines">
            <div class="warning-line" [style.width.px]=" scoreWidth " [ngStyle]="{'border-bottom-color': getColor() }">
              <div class="circle-button" [ngStyle]="{ 'background-color': getColor() }"></div>
            </div>
            <div class="base-line"></div>
          </div>
          <footer class="flex-between">
            <div>0</div>
            <div>5<i class='hide'>0</i></div>
            <div>10</div>
            <div>15</div>
            <div>20</div>
            <div>25</div>
          </footer>
        </footer>
      </div>

      <p class="pt-5 pb-3 md-pb-5 xs-fs-16px fs-18px bold ion-text-center">
        독소 점수는 {{ score }} 점
        <ion-text class="xs-fs-18px fs-22px" [ngStyle]="{ 'color': getColor() }">
          "{{ getCategory() }}"
        </ion-text>
        입니다
      </p>


    </div>

    <div class="page-width pb-100px ion-text-center ">
      <ion-button class="h-52px md-h-68px ion-no-margin mt-50px no-box-shadow" expand="full" color="green"
        (click)="checkes = []; showResult=false">@tTry Again</ion-button>
    </div>

  </section>


</section>