<ion-header no-border>
    <app-header></app-header>
  </ion-header>
  
  <ion-content>
      <section class="page-width p-3" > 

          <div class="pt-5 pb-5" [ngClass]="{'ion-text-center': a.isDesktop  }">
            <ion-text color="green"  >
              <h1>샘플샘샘플샘샘</h1>
            </ion-text>
          </div>
      
          <div>
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
            샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘샘플샘샘플샘샘
          </div>
      
        </section>


  </ion-content>