<div class="position-relative  white fs-24px cover h-185px"
   style="background-image: url(/assets/img/footer/img_bottom.png);">
   <div class="xy-center white-9">명서설명서설명서</div>
</div>

<div style="height: 180px" class="bg-f-white">
   <ion-grid fixed class="layout-width ion-no-padding px-45px">
      <ion-row>
         <ion-col class="ion-no-padding">
            <ion-text>
               <p class="fs-9 pt-60px pb-28px f-green">START A PROJECT</p>
               <p class="fs-12 f-green">We are ready for the challenge</p>
               <p class="fs-12 f-green pt-10">adobexd@gmail.com</p>
            </ion-text>
         </ion-col>
         <ion-col class="ion-no-padding">
            <ion-text>
               <p class="fs-10 pt-60px pb-28px f-green">SAY HELLO</p>
               <p class="fs-12 f-green">497 Evergreen Rd. Roseville, CA 95673</p>
               <p class="fs-12 f-green pt-10">+44 345 678 903</p>
            </ion-text>
         </ion-col>
         <ion-col class="ion-no-padding">
            <ion-text>
               <p class="fs-10 pt-60px pb-28px f-green">JOBS</p>
               <p class="fs-12 f-green">We are always looking for talent</p>
               <p class="fs-12 f-green pt-10">adobexd@gmail.com</p>
            </ion-text>
         </ion-col>
         <ion-col class="ion-text-end pt-50px i-py-5px ion-no-padding" size="2">
            <div class="pt-50px pb-15px">
               <ion-button  mode="ios" fill="clear" size="small" class="i-py-5px">
                  <ion-icon color="success" slot="icon-only" name="logo-instagram"></ion-icon>
               </ion-button>
               <ion-button mode="ios" fill="clear" size="small" class="i-py-5px  ">
                  <ion-icon color="success" slot="icon-only" name="logo-twitter"></ion-icon>
               </ion-button>
               <ion-button mode="ios" fill="clear" size="small" class="i-py-5px">
                  <ion-icon color="success" slot="icon-only" name="logo-facebook"></ion-icon>
               </ion-button>
            </div>
            <img src="/assets/img/footer/logo_footer@2x.png" alt="">
         </ion-col>
      </ion-row>
   </ion-grid>
</div>