.button-bottom ion-button {
    --color-activated: white!important;
    --ripple-color: rgba(0, 0, 0, 0.3) !important;
    --background-hover: rgba(0, 0, 0, 0.05) !important;
}

.top-43px {
    top: 38px ;
}