<ion-grid class="ion-no-padding layout-width " fixed>
  <ion-row align-items-center style="height: 51px;padding-right: 10px">
    <ion-col>
    </ion-col>
    <ion-col text-center class="h-21px ion-no-padding ">
      <ion-img src="/assets/img/logo/logo@2x.png" class="h-21px no-outline pointer" alt="7Detox Header Logo" routerLink="/"></ion-img>
    </ion-col>
    <ion-col>
      <div class="ion-text-end">
        <ion-button mode="md" fill="clear" routerLink="/about" class="ion-no-margin bold fs-10  green">
          {{ a.t({ en: 'ABOUT', ko: '7디톡스'}) }}
        </ion-button>
        <ion-button mode="md" fill="clear" routerLink="/alarm-list" class=" bold fs-10 w-40px green">
          {{ a.t({ en: 'JOIN', ko: '참여하기'}) }}
        </ion-button>
        <ion-button mode="md" fill="clear" routerLink="/products" class=" bold fs-10 w-40px green">
          {{ a.t({ en: 'PRODUCTS', ko: '제품소개'}) }}</ion-button>
        <ion-button mode="md" fill="clear" routerLink="/testimonial" class="bold fs-10 w-40px green">
          {{ a.t({ en: 'FORUM', ko: '게시판'}) }}</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>

<div class="button-bottom bg-green" style="height: 43px;">
  <ion-grid fixed class="layout-width ion-no-padding white ">
    <ion-row class="ion-no-padding">

      <ion-col size="3" class="ion-no-padding">

        <ion-button mode="md" fill="clear" class="white" (click)="presentPopover($event)">
          <ion-icon slot="icon-only" name="menu" mode="md" class="white fs-22px"></ion-icon>
        </ion-button>

      </ion-col>

      <ion-col size="9" class="ion-text-end ion-no-padding ">

        <ion-button mode="md" fill="clear"  class="mt-3px w-110px fs-12 white " routerLink="/how-to-detox-my-body">
          <ion-icon name="document" slot="start" mode="ios" class="fs-20px"></ion-icon>
          설명서
        </ion-button>

        <ion-button  mode="md" fill="clear"  class="mt-3px w-110px fs-12 white" routerLink="/detoxification-tip">
          <ion-icon name="thumbs-up" slot="start" mode="md" class="fs-20px"></ion-icon>
          해독꿀팁
        </ion-button>

        <ion-button  mode="md" fill="clear"  class="mt-3px w-110px fs-12 white" routerLink="/home-training">
          <ion-icon name="fitness" slot="start" mode="md" class="fs-20px"></ion-icon>
          홈트레이닝
        </ion-button>

        <ion-button mode="md" fill="clear"  class="mt-3px w-110px fs-12 white" routerLink="/detoxification-diary">
          <ion-icon name="bookmarks" slot="start" mode="md" class="fs-20px"></ion-icon>
          해독일지
        </ion-button>

        <ion-button  mode="md" fill="clear"  class="w-110px mt-3px fs-12 white" routerLink="/detoxification-recipe">
          <ion-icon name="book" slot="start" mode="ios" class="fs-20px"></ion-icon>
          해독레시피
        </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>