

<ion-grid class="ion-no-padding layout-width " fixed>
  <ion-row align-items-center style="height: 51px;padding-right: 10px" >
    <ion-col>
    </ion-col>
    <ion-col text-center class="h-21px ion-no-padding">
        <img  src="/assets/img/logo/7detox_logo-origin1@2x.png" height="21" alt="">
    </ion-col>
    <ion-col >
      <div class="ion-text-end" style="line-height: 28px">
        <ion-label class="px-20px bold fs-10 w-40px green">메뉴하나</ion-label>
        <ion-label class="px-20px bold fs-10 w-40px green">메뉴하나</ion-label>
        <ion-label class="px-20px bold fs-10 w-40px green">메뉴하나</ion-label>
        <ion-label class="px-20px bold fs-10 w-40px green">메뉴하</ion-label>
     
      </div>
    </ion-col>

  </ion-row>
</ion-grid>



<div class="bg-green" style="height: 43px;">
    <ion-grid fixed class="layout-width ion-no-padding white ">
        <ion-row class="ion-no-padding" >
          <ion-col size="3" class="ion-no-padding">  
              <ion-button   fill >
                  <ion-icon slot="icon-only" name="menu" class="white fs-22px"></ion-icon>
                </ion-button>
          </ion-col>
          <ion-col size="9"  class="ion-text-end ion-no-padding "   >
              <ion-button fill class="mt-3px w-110px ">
                  <ion-icon name="document" slot="start" class="fs-20px"></ion-icon>
                  <ion-label class="fs-12 letter-spacing-0 white ">설명서</ion-label>
                </ion-button>
                <ion-button fill class="mt-3px w-110px" >
                    <ion-icon name="thumbs-up" slot="start" class="fs-20px"></ion-icon>
                  <ion-label  class="fs-12  letter-spacing-0 ">설명서명</ion-label>
                </ion-button>
                <ion-button fill class="mt-3px w-110px">
                  <ion-icon name="fitness" slot="start" class="fs-20px"></ion-icon>
                  <ion-label  class="fs-12  letter-spacing-0 ">명설명서명</ion-label>
                </ion-button>
                <ion-button fill class="mt-3px w-110px">
                  <ion-icon name="bookmarks" slot="start" class="fs-20px"></ion-icon>
                  <ion-label  class="fs-12 letter-spacing-0 ">설명서명</ion-label>
                </ion-button>
                <ion-button fill class="mt-3px w-110px">
                  <ion-icon name="book" slot="start" class="fs-20px"></ion-icon>
                  <!-- {{ a.t({ en: 'Docume', ko: '설명서' }) }} -->
                  <ion-label  class="fs-12 letter-spacing-0 ">설명서설명</ion-label>
                </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</div>
