<!-- <section class="header">
  <div class="layout-width bg-white">
    <ion-grid>
      <ion-row align-items-center >
        <ion-col size="4" offset="4"  text-center class="ion-no-padding">
          
       
            <img  src="/assets/img/logo/7detox_logo-origin1@2x.png"  height="20" alt="">
          
        </ion-col>
        <ion-col size="4">
          <div class="ion-text-end green" style="line-height: 28px">
            <ion-label class="px-10 fs-12">Menu1</ion-label>
            <ion-label class="px-10 fs-12">Menu2</ion-label>
            <ion-label class="px-10 fs-12">Menu3</ion-label>
            <ion-label class="px-10 fs-12">Menu4</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="desktop-header-bottom-menu bg-green">
    <div class="flex-between layout-width">
      <div>
        <ion-button slot="icon-only"  fill >
          <ion-icon name="menu" class="white"></ion-icon>
        </ion-button>
        
      </div>
      <div class="white">
        <ion-button fill>
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label class="fs-12">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
            <ion-icon name="thumbs-up" slot="start"></ion-icon>
          <ion-label  class="fs-12">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
          <ion-icon name="fitness" slot="start"></ion-icon>
          <ion-label  class="fs-12">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
          <ion-icon name="bookmarks" slot="start"></ion-icon>
          <ion-label  class="fs-12">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label  class="fs-12">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
      </div>
    </div>
  </div>
</section> -->
<ion-grid class="ion-no-padding layout-width">
<ion-row align-items-center style="height: 51px" >
    <ion-col size="4" offset="4"   text-center class="ion-no-padding">
      
   
        <img  style="position: relative;
        top:0;
        bottom:0;
        margin:auto;"  src="/assets/img/logo/7detox_logo-origin1@2x.png"  height="20" alt="">
      
    </ion-col>
    <ion-col size="4">
      <div class="ion-text-end green" style="line-height: 28px">
        <ion-label class="px-10 fs-12">Menu1</ion-label>
        <ion-label class="px-10 fs-12">Menu2</ion-label>
        <ion-label class="px-10 fs-12">Menu3</ion-label>
        <ion-label class="px-10 fs-12">Menu4</ion-label>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<div class="desktop-header-bottom-menu bg-green">
    <div class="flex-between layout-width">
      <div>
        <ion-button slot="icon-only"  fill >
          <ion-icon name="menu" class="white"></ion-icon>
        </ion-button>
        
      </div>
      <div class="white">
        <ion-button fill>
          <ion-icon name="document" slot="start"></ion-icon>
          <ion-label class="fs-12 fw-100">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
            <ion-icon name="thumbs-up" slot="start"></ion-icon>
          <ion-label  class="fs-12 fw-100">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
          <ion-icon name="fitness" slot="start"></ion-icon>
          <ion-label  class="fs-12 fw-100">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
          <ion-icon name="bookmarks" slot="start"></ion-icon>
          <ion-label  class="fs-12 fw-100">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
        <ion-button fill>
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label  class="fs-12 fw-100">{{ a.t({ en: 'Docume', ko: '설명서' }) }}</ion-label>
        </ion-button>
      </div>
    </div>
  </div>