<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <section class="page-width-md md-pb-100px medium" text-center>
    <div class="position-relative">
      <ion-text color="green">
        <h1 class="pt-50px fs-32px bold">{{ affiliate?.post_title }}</h1>
      </ion-text>

      <ion-label>
        <ion-text color="green">
          <p class="pt-80px bold">{{ affiliate['string1'] }}</p>
        </ion-text>

          <div class="pt-3 gray">
            <app-page-post-content [guid]=" a.pageCode.affiliate " [post]=" affiliate " (edited)=" affiliate = $event ">
            </app-page-post-content>
          </div>



      </ion-label>
    </div>

    <div class="pt-4 pb-4 text-color">
      <ion-button class="i-px-2" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="i-px-2" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button class="i-px-2" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </div>

    <ion-label>{{ affiliate['string2'] }}</ion-label>
    <ion-label class="pl-4">{{ affiliate['string3'] }}</ion-label>

  </section>

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>