<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <section class="pb-100px medium" text-center>

    <ion-text color="green">
      <h1 class="pt-50px fs-32px bold">샘플 제목</h1>
    </ion-text>

    <ion-label>
      <ion-text color="green">
        <p class="pt-80px bold">샘플샘플플</p>
      </ion-text>
      <ion-text color="medium">
        <p class="pt-3 ">샘플샘</p>
        <p>샘플샘</p>
        <p>sample@email.com</p>
        <p>00-0000-00</p>
        <p>샘플샘샘플샘샘플샘샘플샘</p>
      </ion-text>

    </ion-label>

    <div class="pt-4 pb-4 text-color">
      <ion-button class="i-px-2" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button class="i-px-2" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button class="i-px-2" fill="clear" color="medium">
        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
      </ion-button>
    </div>

    <ion-label>LabelLabelLabel</ion-label>
    <ion-label class="pl-4">Label</ion-label>

  </section>

</ion-content>