<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>




  <app-join-menu></app-join-menu>





  <section class="layout-width">


    <h1 class="ion-text-center fs-lg md-fs-38px green"> {{ a.t({en: 'Prepare', ko: '준비하기'}) }}

    </h1>

    <app-admin-page-edit-button class="float-right" [guid]=" guid " (edited)=" onEdit($event) ">
    </app-admin-page-edit-button>

    <img class=" w-100 mb-4" src="{{ mobileSrc }}" *ngIf="a.isMobile">
    <img class="w-100  md-mb-150px" src="{{ desktopSrc }}" *ngIf="a.isDesktop">
  </section>












  <!-- 
  <section class="px-4 pb-50px md-pb-150px page-width">


    <ion-text color="green">
      <h1 class="title bold ion-text-center mb-4">{{ prepare?.post_title }}</h1>
    </ion-text>



    <section class="newspaper">
      <ion-img class="mb-4" src=" {{ src(prepare) }} " *ngIf=" src(prepare) "></ion-img>
      <app-page-post-content [guid]=" a.pageCode.prepare " [post]=" prepare " (edited)=" prepare = $event ">
      </app-page-post-content>
    </section>



  </section> -->
  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>