<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>




  <app-join-menu></app-join-menu>





  <section class="px-4 page-width">


    <h1>Prepare Page</h1>

    <!-- <h1 class="title px-4 mb-4 bold green">{{ posts.topLeft?.post_title }}</h1>
    <ion-grid class="page-width-md md-pb-50px dark-gray" no-padding>
      <ion-row>
        <ion-col class="px-4 pt-4" size="12" size-md="6">
          <app-page-post-content [guid]=" a.pageCode.aboutTopLeft " [post]=" posts.topLeft "
            (edited)=" posts.topLeft = $event "></app-page-post-content>
        </ion-col>
        <ion-col class="px-4 pt-4" size="12" size-md="6">
          <app-page-post-content [guid]=" a.pageCode.aboutTopRight " [post]=" posts.topRight "
            (edited)=" posts.topRight = $event "></app-page-post-content>
        </ion-col>
      </ion-row>
    </ion-grid> -->


  </section>
  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>