<ion-header no-border>
    <app-header></app-header>
  </ion-header>
  
  <ion-content>
  
    <section class="page-width">
        <h1>testimonial page</h1>
  
        <p>
          This should be a forum.
        </p>
      
        <p>
          Give some decoration on top of the page and load post-list child component to display posts of the 'testimonial'
          forum.
        </p>
      
        <app-ion-post-list [slug]=" 'testimonial' "></app-ion-post-list>
    </section>

  
  

    <ng-container *ngIf="a.isDesktop">
        <app-desktop-home-footer></app-desktop-home-footer>
    </ng-container>

  </ion-content>
  

  