<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>
  <section class="bg-md-background-image pt-100px dark-gray-2 pb-150px">

    <div class="page-width-md">


      <h1 class="ion-text-center green-2">{{ postTopLeft?.post_title }}</h1>
      <ion-grid>
        <ion-row>
          <ion-col class="px-4 pt-4" size="12" size-md="6">
            <app-admin-page-edit-button [path]=" a.pageCode.aboutTopLeft "></app-admin-page-edit-button>
            <app-page-post-content [post]=" postTopLeft "></app-page-post-content>
          </ion-col>
          <ion-col class="px-4 pt-4" size="12" size-md="6">
            <app-admin-page-edit-button [path]=" a.pageCode.aboutTopRight "></app-admin-page-edit-button>
            <app-page-post-content [post]=" postTopRight "></app-page-post-content>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </section>

  <section style="background-color: #fafafa;">
    <div class="page-width-md">
      <ion-grid class="pt-50px">
        <ion-row>
          <ion-col class="px-4" size="12" size-md="6">
            <app-admin-page-edit-button [path]=" a.pageCode.aboutBottomLeft "></app-admin-page-edit-button>
            <h2 class="ion-text-center green-2">{{ postBottomLeft?.post_title }}</h2>
            <div class="mt-4">
              <app-page-post-content [post]=" postBottomLeft "></app-page-post-content>
            </div>
          </ion-col>
          <ion-col class="px-4" size="12" size-md="6">
            <app-admin-page-edit-button [path]=" a.pageCode.aboutBottomRight "></app-admin-page-edit-button>
            <h2 class="ion-text-center green-2 ">{{ postBottomRight?.post_title }}</h2>
            <app-page-post-content [post]=" postBottomRight "></app-page-post-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>


  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>