<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>
  <section class="bg-md-background-image pt-100px dark-gray-2 pb-150px">

    <div class="page-width-md">


      <h1 class="ion-text-center green-2">{{ posts.topLeft?.post_title }}</h1>
      <ion-grid>
        <ion-row>
          <ion-col class="px-4 pt-4" size="12" size-md="6">
            <app-admin-page-edit-button [guid]=" a.pageCode.aboutTopLeft "></app-admin-page-edit-button>
            <app-page-post-content [post]=" posts.topLeft "></app-page-post-content>
          </ion-col>
          <ion-col class="px-4 pt-4" size="12" size-md="6">
            <app-admin-page-edit-button [guid]=" a.pageCode.aboutTopRight "></app-admin-page-edit-button>
            <app-page-post-content [post]=" posts.topRight "></app-page-post-content>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

  </section>

  
  <section class="md-pb-100px md-mb-145px" style="background-color: #fafafa;">
    <div class="page-width-md">
      <ion-grid class="pt-50px">
        <ion-row>
          <ion-col class="px-4" size="12" size-md="6">
            <app-admin-page-edit-button [guid]=" a.pageCode.aboutBottomLeft "></app-admin-page-edit-button>
            <h2 class="ion-text-center green-2">{{ posts.bottomLeft?.post_title }}</h2>
            <div class="mt-5">
              <app-page-post-content [post]=" posts.bottomLeft "></app-page-post-content>
            </div>
          </ion-col>
          <ion-col class="px-4" size="12" size-md="6">
            <app-admin-page-edit-button [guid]=" a.pageCode.aboutBottomRight "></app-admin-page-edit-button>
            <h2 class="ion-text-center green-2 ">{{ posts.bottomRight?.post_title }}</h2>
            <div class="mt-5">
                <app-page-post-content [post]=" posts.bottomRight "></app-page-post-content>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </section>


  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>