
      <div class="bg-green py-35px h-140px position-relative">
        <div class="white fs-14 xy-center ">
          샘플는 텍스트는
        </div>
        <div class="text-align-right">
          <ion-button (click)="sideMenuCLose()" size="small" fill="clear" class="white" mode="ios">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </div>
      </div>
      
      <div class="px-15 py-12px  fs-14 ">

        <div class="border-bottom-green py-10">
          <ion-text color="success">
            <p> User Information</p>
          </ion-text>
        </div>

        <ion-grid fixed class="ion-no-padding gray">
          <ion-row class="py-15px">
            <ion-col size="6" class="ion-no-padding no-outline" (click)="sideMenuCLose()" routerLink="/about">
              {{ a.t({en: 'About', ko: '세븐디톡스란?'}) }}
            </ion-col>
            <ion-col size="6" class="ion-no-padding no-outline" (click)="sideMenuCLose()" routerLink="/login">
              {{ a.t({en: 'Login', ko: '로그인'}) }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-no-padding no-outline" (click)="sideMenuCLose()" routerLink="/register">
              {{ a.t({en: 'Register', ko: '회원가입'}) }}
            </ion-col>
            <ion-col size="6" class="ion-no-padding">
              플는텍스트는
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="border-bottom-green py-10 pt-22px">
          <ion-text color="success">
            <p>샘플샘플</p>
          </ion-text>
        </div>

        <ion-grid fixed class="ion-no-padding gray">
          <ion-row class="py-15px">
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
          </ion-row>
          <ion-row class="py-15px">
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
          </ion-row>
        </ion-grid>


        <div class="border-bottom-green py-10 pt-12px">
          <ion-text color="success">
            <p>샘플샘플샘플</p>
          </ion-text>
        </div>

        <ion-grid fixed class="ion-no-padding gray">
          <ion-row class="py-15px">
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
          </ion-row>
          <ion-row class="py-15px">
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
            <ion-col size="6" class="ion-no-padding no-outline">
              플는텍스트는
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>

