.layout-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 970px;
}


.mobile-width {
    margin: 0 auto;
    max-width: 360px;
}

.page-width-md {
    margin: 0 auto;
    max-width: 768px;
}



@media all and (min-width: 768px) {
    .md-mobile-width {
        margin: 0 auto;
        max-width: 360px;
    }

    .md-px-4 {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }

    .md-pt-3 {
        margin-top: 1em !important;
    }

    .md-pl-5 {
        padding-left: 3em !important;
    }

    .md-mt-3 {
        margin-top: 1em !important;
    }

    .md-mt-40px {
        margin-top: 40px !important;
    }

    .md-pt-30px {
        padding-top: 30px !important;
    }

    .md-pr-60px {
        padding-right: 60px !important;
    }

    .md-pb-100px {
        padding-bottom: 100px !important;
    }

    .md-pb-150px {
        padding-bottom: 150px !important;
    }

    .md-mb-145px {
        margin-bottom: 145px !important;
    }

    .md-pt-100px {
        padding-top: 100px !important;
    }

    .md-pt-50px {
        padding-top: 50px !important;
    }

    .md-pt-80px {
        margin-top: 80px !important;
    }

    .md-pl-2 {
        padding-left: .5em !important;
    }

    .md-pl-3 {
        padding-left: 1em !important;
    }

    .md-py-20px {
        padding-bottom: 20px !important;
        padding-top: 20px !important;
    }

    .md-mr-20px {
        margin-right: 20px !important;
    }

    .md-ml-20px {
        margin-left: 20px !important;
    }

    .md-pb-150px {
        padding-bottom: 150px !important;
    }
    .md-pb-50px {
        padding-bottom: 50px !important;
    }






    .md-shadow-2 {
        box-shadow: 0px 0px 12px -2px rgba(235, 235, 235, 1);
    }

    .md-no-border {
        --border: 0 !important;
        border: 0 !important;
        border-width: 0 !important;
        --border-width: 0 !important;
    }

    .md-text-center {
        text-align: center !important;
    }

    .md-w-200px {
        width: 200px !important;
    }

    .md-flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .md-h-68px {
        height: 68px !important;
    }

}


@media all and (max-width: 768px) {

    .xs-p-3 {
        padding: 1em !important;
    }
    .xs-px-2 {
        padding-right: .5em !important;
        padding-left: .5em !important;
    }
    .xs-py-1 {
        padding-top: .25em !important;
        padding-bottom: .25em !important;
    }
    .xs-pl-15px {
        padding-left: 15px !important;
    }

    .xs-pt-4 {
        padding-top: 1.5em;
    }

    .xs-pb-50px {
        padding-bottom: 50px !important;
    }

    .xs-px-4 {
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }

    .xs-mb-0 {
        margin-bottom: 0 !important;
    }

    .xs-min-h-100px {
        min-height: 60px !important;
    }

    .xs-h-52px {
        height: 52px !important;
    }

    .xs-pb-4 {
        padding-bottom: 1.5em !important;
    }


}