.mobile-width {
    margin: 0 auto;
    max-width: 360px;
}

.page-width-md {
    margin: 0 auto;
    max-width: 768px;
}



@media all and (min-width: 768px) {
    .md-mobile-width {
        margin: 0 auto;
        max-width: 360px;
    }


    .md-pl-5 {
        padding-left: 3em !important;
    }
    .md-mt-40px {
        margin-top: 40px !important;
    }

    .md-pt-30px {
        padding-top: 30px !important;
    }
    .md-pr-30px {
        padding-right: 30px !important;
    }

    .md-pb-100px {
        padding-bottom: 100px !important;
    }
    .md-mb-145px {
        margin-bottom: 145px !important;
    }

}

