/**
 *
 * .25em is 4px.
 * .5em is 8px.
 * 1em is 16px.
 * 1.5em is 24px.
 * 3em is 48px.
 *
 */
// padding
.px-12px {
    padding-right: 12px;
    padding-left: 12px;
  }
.px-23px {
    padding-right: 23px;
    padding-left: 23px;
}



.p-10px {
    padding: 10px;
}
.py-22px {
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

.mx-22px {
    margin-left: 22px !important;
    margin-right: 22px !important;
}

.p-1 {
    padding: .25em !important;
} 

.p-2 {
    padding: .5em !important;
} 

.p-3 {
    padding: 1em !important;
} 

.p-4 {
    padding: 1.5em !important;
} 

.p-5 {
    padding: 3em !important;
} 

.pt-11px {
    padding-top: 11px !important;
}
.pt-13px {
    padding-top: 13px !important;
}


.pb-19px {
    padding-bottom:19px;
}

.px-11px {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.py-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}




//em


.px-1 {
    padding-left: .25em !important;
    padding-right: .25em !important;
}

.px-2 {
    padding-left: .5em !important;
    padding-right: .5em !important;
}


.px-3 {
    padding-left: 1em !important;
    padding-right: 1em !important;
}


.px-4 {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}


.px-5 {
    padding-left: 3em !important;
    padding-right: 3em !important;
}






.p-3 {
    padding: 1em !important;
}
.pb-1 {
    padding-bottom: .25em !important;
}
.pb-2 {
    padding-bottom: .5em !important;
}

.pb-3 {
    padding-bottom: 1em !important;
}

.pb-4 {
    padding-bottom: 1.5em !important;
}

.pb-5 {
    padding-bottom: 3em !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-2 {
    padding-left:  .5em !important;
}

.i-pr-0 {
    --padding-end: 0 !important;
}
.pr-2 {
    padding-right: .5em !important;
}



.pt-1 {
    padding-top: .25em !important;
}


.pt-2 {
    padding-top: .5em !important;
}


.pt-3 {
    padding-top: 1em !important;
}


.pt-4 {
    padding-top: 1.5em !important;
}

.pt-5 {
    padding-top: 3em !important;
}

.py-1 {
    padding-top: .25em !important;
    padding-bottom: .25em !important;
}

.py-2 {
    padding-top: .5em !important;
    padding-bottom: .5em !important;
}
.py-3 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}


.px-2 {
    padding-left: .5em !important;
    padding-right: .5em !important;
}




// margin


.mx-1  {
    margin-left: .25em;
    margin-right: .25em;
}
.mx-2  {
    margin-left: .5em;
    margin-right: .5em;
}

.ml-10px {
    margin-left: 10px !important;
}

.mr-1 {
    margin-right: .25em;
}

.mt-1 {
    margin-top: .25em !important
}
.mt-2 {
    margin-top: .5em !important
}
.mt-3 {
    margin-top: 1em !important
}
.mt-4 {
    margin-top: 1.5em !important
}
.mt-5 {
    margin-top: 3em !important
}




.ml-1 {
    margin-left: .25em !important;
}

.ml-2 {
    margin-left: .5em !important;
}
.ml-3 {
    margin-left: 1em !important;
}
.ml-4 {
    margin-left: 1.5em !important;
}
.ml-5 {
    margin-left: 3em !important;
}