// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/



@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');


// :root,
// :root[mode="md"],
// :root[mode="ios"] {
//   --ion-font-family: 'Lora', serif;
//   font-family: var(--ion-font-family)!important;
// }








/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success:  #7db262;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

 


}

.ion-color-green {
  --ion-color-base: #7db262;
  --ion-color-base-rgb: 125, 178, 98;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #6e9d56;
  --ion-color-tint: #8aba72;
}




.bg-green {
  background-color: #7db262 !important;
}

.bg-light-gray {
  background-color: #f4f4f4 !important;
}

.bg-gray {
  background-color: gray;
}

.bg-white {
  background-color: #ffffff !important;
}

.white {
  color: white;
}

.green {
  color: #7db262 !important;
}

.gray {
  color: #747474 !important;
}
.white-5 {
  color: #ffffffea;
}
.white-9 {
  color:rgba(255, 255, 255, 0.897);
}
.b-white-9 {
  border-color: #e6e6e6a9!important;
}
.dark-gray {
  color: #2e393e;
}


.p-10 {
  padding: 10px;
}

.py-15px {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-5 {
  padding: 10px!important;
}

.py-5 {
  padding-top: 5px!important;
  padding-bottom: 5px!important;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-45px {
  padding-left: 45px!important;
  padding-right: 45px!important;

}

.bold {
  font-weight: bold;
}

.white-trans {
  color: rgb(216, 216, 216);
}
.px-20px {
  padding-left: 20px;
  padding-right: 20px;
}

.pt-0 {
  padding-top: 0;
}
.pt-20px {
  padding-top:30px;
}
.pt-5 {
  padding-top: 5px;
}
.pt-60px {
  padding-top:60px;
}
.pt-50px {
  padding-top:50px;
}

.pt-10 {
  padding-top: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.flex {
  display: flex;
}
.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px!important;
}
.fs-12 {
  font-size: 12px !important;
}
.fs-18px {
  font-size: 18px!important;
}


.fs-14 {
  font-size: 14px !important;
}
.lh-18px {
  line-height: 25px!important; 
}

.fs-50px {
  font-size: 50px !important;
}

.h-300 {
  height: 180px !important;
}
.h-21px {
  height: 21px!important;
}

.black {
  color: black !important;
}

.shadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}



.h-60 {
  height: 60px !important;
}

.h-65px {
  height: 65px !important;
}

.mh-100 {
  min-height: 100px !important;
}

.card {
  border-radius: 0 !important;  
  box-shadow: none !important;
}
.border-radius {
  border-radius: 5px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  justify-content: center;
}

.layout-width {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
}
.w-110px {
  width: 110px;
}
.w-50px {
  width: 50px;
} 

.w-100 {
  width: 100% !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.top {
  top: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.z-1000 {
  z-index: 1000;
}

.align-items-center {
  align-items: center;
}

.ml-5 {
  margin-left: 3em;
}






.ml-xl-5 {
  @media all and (min-width: 1200px) {
    margin-left: 5em;
  }
}

.mr-md-100px {
  @media all and ( max-width: 1200px ) {
    margin-right: 100px;
  }
}

.mr-xl-150px {
  @media all and ( min-width: 1400px ) {
    margin-right: 150px;
  }
}



// .ml-md-100px  {
//   @media all and ( min-width: 768px ) {
//     margin-left: 100px;
//   }
// }
// .ml-lg-200px {
//   @media all and ( min-width: 992px ) {
//   margin-left: 200px;    
//   }
// }


.mr-5px {
  margin-right: 5px;
}
.mr-50px {
  margin-right: 50px;
}
.mr-35px {
  margin-right: 45px;
}
.ml-35px {
  margin-left: 45px;
}

.mr-xl-5 {
  @media all and (min-width: 1200px) {
    margin-right: 5em;
  }
}


.ml-xxl-15 {
  @media all and (min-width: 1400px) {
    margin-left: 15em;
  }
}


.mr-xxl-15 {
  @media all and (min-width: 1400px) {
    margin-right: 15em;
  }
}


.l-xl-1 {
  @media all and (max-width: 1200px) {
    left: 10px;
  }
}

.r-xl-1 {
  @media all and (max-width: 1200px) {
    right: 10px;
  }
}


.r-md-50px {
  @media all and (max-width: 1200px) {
    right: 50px;
  }
}


.l-xxl-15 {
  @media all and (min-width: 1200px) {
    left: 170px;
  }
}

.r-xxl-15 {
  @media all and (min-width: 1200px) {
    right: 170px; 
  }
}
.r-xxl-270px {
  @media all and (min-width: 1200px) {
    right: 270px;
  }
}




.r-xl-10 {
  @media all and (min-width: 1200px) {
    right: 100px!important;
  }
}


.r-100px {
  right: 10px;
}
.r-xl-170px {
  @media all and (min-width:1200px) {
    right: 270px!important;
  }
}

.fs-20px {
  font-size: 20px!important;
}
.fs-26px {
  font-size: 26px;
}
.mt-3px {
  margin-top: 3px!important;
}
.mt-15px {
  margin-top: 15px!important;
}
.mt-2px {
  margin-top: 2px;
}
.h-620px {
  height: 550px !important;
}

.h-auto {
  height: auto !important;
}

.of-hidden {
  overflow: hidden;
}

.cover {
  background-attachment: center;
  background-size: cover;
  background-repeat: no-repeat;

}



.l-200px {
  left: 100px;
}

.r-200px {
  right: 100px;
}

.top-175px {
  top: 175px;
}
.dark-green {
  color:#6e9d56;
}

.bg-trans {
  background-color: #00000000;
}

.w-150px {
  width: 150px;
}

.h-150px {
  height: 150px;
}

.no-outline {
  outline: none;
}

.arrow-left {
  height: 35px;
  width: 35px;
 
  border: solid #a7a672;
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.arrow-right {
  height: 35px;
  width: 35px;
  border: solid #a7a672;
  border-width: 0 3px 3px 0;
  display: inline-block;
 
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.h-300px {
  height: 300px;
}
.w-400px {
  width: 400px;
}
.px-20px {
  padding-right: 12px;
  padding-left: 12px;
}
.pl-25px {
  padding-left: 25px!important;
}
.fs-16px {
  font-size: 16px;
}

.fs-45px {
  font-size: 38px!important;
  line-height: 38px!important;
}
.fs-38px {
  font-size: 38px!important;
  line-height: 38px!important;
}

.ml-md-100px {
  @media all and ( min-width: 768px ) {
  margin-left: 100px;    
  }
}

.ml-lg-150px {
  @media all and ( min-width: 990px ) {
  margin-left: 150px;    
  }
}
.ml-xl-200px {
  @media all and ( min-width: 1200px ) {
  margin-left: 200px;    
  }
}


.w-400px {
  width: 400px;
}
.ml-200px {
  margin-left: 200px;
}
.w-200px {
  width: 200px;
}
.w-400px {
  width: 400px;
}
.h-60px {
  height: 60px;
}
.h-62px {
  height: 62px;
}


.top-175px {
  top:175px;
}

.r-270px {
  right: 270px;
}

.b-green {
  border: 2px solid #7db262;
}

.i-border-color-green {
  --border-color: #7db262;
}


.b-radius-5 {
  border-radius: 6px;
}


.h-md-400px {
  @media all and ( min-width: 768px  ) {
    height: 400px!important;
  }
}

.h-lg-450px {
  @media all and ( min-width:992px ) {
    height: 450px!important;
  }
}
.h-xl-500px {
  @media all and ( min-width:1200px	 ) {
    height: 500px!important;
  }
}
.h-xxl-550px {
  @media all and ( min-width:1400px	 ) {
    height: 550px!important;
  }
}

.vh-100 {
  height: 100vh;
}
.vw-100 {
  width: 100vh;
}
.i-bg-green {
  --background: #9ec38d ;
}
.i-green {
  color: #91bd7c;
}

.i-btn-white {
  --background: #fff!important ;
  --background-hover:white;
  --ripple-color:#0ec254 ;
}
.i-bg-white {
  --background: #fff!important ;
}
.i-bg-hover-white {
  --background-hover:white;
}
.i-grid-p-10 {
  --ion-grid-padding: 5px;
}


.my-5px {
  margin-top:10px;
  margin-bottom:10px;
}

.mx-10px {
  margin-right: 10px;
  margin-left: 10px;
}
.mx-5px {
  margin-right: 5px;
  margin-left: 5px;
}
.m-0 {
  margin: 0;
}
.pt-5px {
  padding-top: 5px;
}
.py-25px {
  padding-top: 25px;
  padding-bottom:25px;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
  
}

.i-col-padding-10 {
  --ion-grid-column-padding: 6px;
}
.pt-85px {
  padding-top: 85px;
}
.fs-30px {
  font-size: 30px;
  line-height: 30px!important;
}
.pb-15px {
  padding-bottom: 15px; 
}
.pb-28px {
  padding-bottom: 28px; 
}
.pb-45px {
  padding-bottom: 45px;
}
.pt-65px {
  padding-top: 65px;
}
.pb-80px {
  padding-bottom: 80px;
}
.h-340px {
  height: 340px!important;
}
.pt-70px {
  padding-top: 70px;
}
.pb-37px {
  padding-bottom: 37px;
}
.pt-37px {
  padding-top: 37px!important;
}
.fs-22px {
  font-size: 22px!important;
}

.fs-24px {
  font-size: 24px!important;
  line-height: 24px!important;
}
.px-25px {
  padding-right: 25px;
  padding-left: 25px;
}
.pb-10px {
  padding-bottom: 10px!important;
}
.px-32px {
  padding-right: 32px;
  padding-left: 32px;
}
.px-100px {
  padding-left: 150px;
  padding-right: 150px;
}

.w-70px {
  width: 70px!important;
}
.h-70px {
  height: 70px!important;
}

.bg-gray-9 {
  background-color: #2b2b2b4d;
}
.pr-70px {
  padding-right: 25px!important;
}

.pl-15px {
  padding-left: 25px!important;
}

.px-xxl-150 {
  @media all and (min-width: 1200px) {
    padding-right: 150px;
    padding-left: 150px;
  }
}


.px-xxl-40 {
  @media all and (min-width: 1200px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.h-340px {
  height: 340px;
}
.top-145px  {
  top: 145px;
}
.transform-y {
  top:0; 
  transform:translateY(50%)
}


.h-185px {
  height: 185px;
}

.y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.xy-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bg-f-white {
  background-color: #f4ffef;
}
.f-green {
  color:rgba(91, 173, 91, 0.863)!important;
}

p {
  padding: 0;
  margin: 0;
}

.i-py-5px {
  --padding-start	: 5px;
  --padding-end: 5px;
}
.top-100px {
  top:100px;
}
.top-60px {
  top:60px;
}
.top-xl-160px {
  @media all and (min-width: 1200px) {
    top: 160px;
  }
}

.top-xl-165px {
  @media all and (min-width: 1200px) {
    top: 155px;
  }
}
.fs-md-35px {
  @media all and (max-width: 1200px) {
    font-size: 35px!important;
  }
}

.right-md-200px {
  @media all and (max-width: 1200px) {
    right:200px;
  }
}
.p-md-0 {
  @media all and (max-width:1200px) {
    padding: 0!important;
  }
}


.green-dark {
  color: #8aba72;
}

.letter-spacing-4px {
  letter-spacing: -4px;
}
.letter-spacing-2px {
  letter-spacing: -2px;
}
.letter-spacing-1px {
  letter-spacing: -1px;
}
.letter-spacing-0 {
  letter-spacing: 0;
}

.fs-15px {
  font-size: 15px;
}

.ff-lora {
  font-family: 'lora', serif!important;
}
.fs-26px {
  font-size: 26px;
}