<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content class="bg-light-gray bg-md-background-image">

  <ion-toolbar *ngIf="a.isDesktop" color="green" class="mobile-width mt-md-70px" text-center>
    <ion-title>{{ a.t({ en: 'Login', ko: '로그인' }) }}</ion-title>
  </ion-toolbar>


  <section class="register mb-md-340px md-mobile-width px-23px pb-5 pt-1 border-md-gray  bg-light-gray">
    <form [formGroup]=" form " (ngSubmit)=" onSubmit() ">
     
      <ion-item mode="ios" lines="none">
        <ion-label position="floating" color="medium">{{ a.t({en: 'Email', ko: '이메일 주소'}) }}</ion-label>
        <ion-input class="no-border" formControlName="user_email"></ion-input>
      </ion-item>

      <ion-item mode="ios" lines="none">
        <ion-label position="floating" color="medium">{{ a.t({en: 'Password', ko: '비밀번호'}) }}</ion-label>
        <ion-input  formControlName="user_pass"></ion-input>
      </ion-item>

      <ion-button type="submit" mode="md" expand="full" color="green" class="h-50px mt-3 fs-14 no-box-shadow">
        {{ a.t({en: 'Login', ko: '로그인' })}}
      </ion-button>

      <ion-text class="d-block h-50px lh-50px fs-14 underline bold  ion-text-center pointer">
          로그인로그인
      </ion-text>
     
      <ion-item class="kakao h-50px bold " no-padding button>
        <ion-thumbnail class="flex-column-center h-50px w-50px" style="border-right: 1px solid rgba(255, 255, 255, 0.2) " slot="start" no-margin>
          <img class="hw-30px" src="/assets/img/icons/kakao.png" />
        </ion-thumbnail>
        <ion-label class="mr-50px" text-center>
            {{ a.t({en: 'Login', ko: '로그인' })}}          
        </ion-label>
        
      </ion-item>

       
      <ion-item class="naver h-50px  white" no-padding button>
          <ion-thumbnail class="flex-column-center h-50px w-50px" style="border-right: 1px solid rgba(255, 255, 255, 0.2) " slot="start" no-margin>
            <img class="hw-40px" src="/assets/img/icons/naver.png" />
          </ion-thumbnail>
          <ion-label class="mr-50px" text-center>
              {{ a.t({en: 'Login', ko: '로그인' })}}          
          </ion-label>
          
        </ion-item>

      
       

    <ion-button class="mt-2 h-50px   bg-white" expand="block" mode="md" fill="outline" color="green">
        {{ a.t({en: 'Login', ko: '로그인' })}}          
    </ion-button>

     
   
    </form>

  </section>
</ion-content>