<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>
<!-- 
  <section style="display: flex;" class="ion-justify-content-between ion-align-items-center">
    <h1 class="fs-md">
      {{ slug }}
    </h1>
    <ion-button (click)=" onClickPost() ">ADD PRODUCT</ion-button>
  </section> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button class="mr-2" (click)=" onClickPost() ">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <section class="pb-150px page-width">

    <ion-text color="green" *ngIf="a.isDesktop">
      <h1 class="pt-100px pb-5 ion-text-center fs-32px bold">표제표제표제</h1>
    </ion-text>

    <ion-grid no-padding>
      <ion-row class="mr-10px md-mr-20px">
        <ion-col size="6" size-md="4" no-padding *ngFor="let post of posts">
          <!-- <ion-button
            class="position-absolute top right mt-2 mr-2 h-52px pointer ion-no-box-shadow ion-no-padding z-1000"
            color="light" size="small" (click)="onClickMore( post, $event )">
            <ion-icon class="px-3 fs-lg" name="more" slot="icon-only"></ion-icon>
          </ion-button> -->


     


          <ion-card class="card xs-mb-0 mr-0 md-ml-20px">
              <ion-button class="position-absolute top left z-1000  ion-no-box-shadow " color="light" size="small"
              (click)="onClickMore( post, $event )">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
  
            <app-ion-file-display [post]=" post "></app-ion-file-display>
            <ion-card-content class="white bg-color">

              <h2 class="fs-16px bold" *ngIf="a.isMobile">{{ post.post_title }}</h2>
              <p class="fs-12">{{ post.post_content }}</p>
              <h2 class="fs-20px bold" *ngIf="a.isDesktop">{{ post.post_title }}</h2>
            </ion-card-content>
          </ion-card>



        </ion-col>
      </ion-row>
    </ion-grid>


  </section>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>