<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <ion-text color="green" *ngIf="a.isDesktop">
    <h1 class="pt-100px pb-5 ion-text-center fs-32px bold">표제표제표제</h1>
  </ion-text>

  <div class="grid page-width" >
    <div class="box box1 position-relative cover"
    [style.background]="'url(' + posts[0].files[0].url + ')'" *ngIf="posts[0] &&  posts[0].files.length">


      <div class="position-absolute h-100 w-100  z-1000">
        <div class="card-content">
          <h2 class="mt-1 fs-16px bold ellipsis" *ngIf="a.isMobile">{{ posts[0].post_title }}</h2>
          <p class="fs-12 ellipsis">{{ posts[0].post_content }}</p>
          <h2 class="mt-1 fs-20px bold ellipsis" *ngIf="a.isDesktop">{{ posts[0].post_title }}</h2>
        </div>
      </div>
    </div>


    <div class="box box2 position-relative cover"
    [style.background]="'url(' + posts[1].files[0].url + ')'" *ngIf="posts[1] &&  posts[1].files.length">
      <div class="position-absolute h-100 w-100  z-1000">
        <div class="card-content">
          <h2 class="mt-1 fs-16px bold ellipsis" *ngIf="a.isMobile">{{ posts[1].post_title }}</h2>
          <p class="fs-12 ellipsis">{{ posts[1].post_content }}</p>
          <h2 class="mt-1 fs-20px bold ellipsis" *ngIf="a.isDesktop">{{ posts[1].post_title }}</h2>
        </div>
      </div>
    </div>

    <div class="box box3 position-relative cover"
    [style.background]="'url(' + posts[2].files[0].url + ')'" *ngIf="posts[2] &&  posts[2].files.length">
      <div class="position-absolute h-100 w-100  z-1000">

        <div class="card-content">
          <h2 class="mt-1 fs-16px bold ellipsis " *ngIf="a.isMobile">{{ posts[2].post_title }}</h2>
          <p class="fs-12 ellipsis">{{ posts[2].post_content }}</p>
          <h2 class="mt-1 fs-20px bold ellipsis" *ngIf="a.isDesktop">{{ posts[2].post_title }}</h2>
        </div>
      </div>
    </div>

    <div class="box box4 position-relative"
    [style.background]="'url(' + posts[3].files[0].url + ')'" *ngIf="posts[3] &&  posts[3].files.length">
      <div class="position-absolute h-100 w-100  z-1000">
        <div class="card-content">
          <h2 class="mt-1 fs-16px bold ellipsis" *ngIf="a.isMobile">{{ posts[3].post_title }}</h2>
          <p class="fs-12 ellipsis">{{ posts[3].post_content }}</p>
          <h2 class="mt-1 fs-20px bold ellipsis" *ngIf="a.isDesktop">{{ posts[3].post_title }}</h2>
        </div>
      </div>
    </div>
  </div>


  <section class="  pb-150px page-width" *ngIf="posts">



    <ion-grid no-padding>
      <ion-row class="mr-10px md-mr-20px">
        <ion-col size="6" size-md="4" no-padding *ngFor="let post of posts.slice(4)">

          <ion-card class="card xs-mb-0 mr-0 md-ml-20px">
            <app-ion-file-display [post]=" post "></app-ion-file-display>
            <ion-card-content class="white bg-color">
              <h2 class="fs-16px bold ellipsis" *ngIf="a.isMobile">{{ post.post_title }}</h2>
              <p class="fs-12 ellipsis">{{ post.post_content }}</p>
              <h2 class="fs-20px bold ellipsis" *ngIf="a.isDesktop">{{ post.post_title }}</h2>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>


  </section>

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>