<ion-app>
  <ion-menu data-role="sidemenu" contentId="routerOutlet">
    <ion-header>
      <ion-toolbar class="ion-activatable pointer" mode="md">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>


      <ion-item-divider>
        <ion-label>
          User Information
        </ion-label>
      </ion-item-divider>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" button class="pointer" data-role="sidemenu-options" routerLink="/about">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>
                  {{ a.t({en: 'About', ko: '세븐디톡스란?'}) }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-col>
          <ion-col size="6">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" button class="pointer" data-role="sidemenu-options" routerLink="/login">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>
                  {{ a.t({en: 'Login', ko: '로그인'}) }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-col>
          <ion-col size="6">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" button class="pointer" data-role="sidemenu-options" routerLink="/register">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>
                  {{ a.t({en: 'Register', ko: '회원가입'}) }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-col>
          <ion-col size="6">
            <ion-menu-toggle auto-hide="false">
              <ion-item lines="none" button class="pointer" data-role="sidemenu-options" routerLink="/login">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-label>
                  {{ a.t({en: 'Login', ko: '로그인'}) }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
      </ion-grid>





    </ion-content>
  </ion-menu>

  <ion-router-outlet id="routerOutlet" main></ion-router-outlet>
</ion-app>