<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>


  <ion-text color="green">
    <h1 class="title ion-text-center ">표제표제표제</h1>
  </ion-text>

  <section class="page-width p-20px md-pb-150px">

    <ion-text color="medium">
      제목멋진제목멋진
    </ion-text>

    <h1 class="mt-2 fs-32px xs-fs-22px bold green-2">제목멋진제목멋진</h1>
    <div class="pt-4 border-top">
      <ion-img src="assets/img/tip_image.jpg"></ion-img>
    </div>

    <div class="mt-4 pb-3 lh-30px border-bottom medium">
      <p>
        제목멋진제목멋진제목멋진제목멋제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진
      </p>
      <p>
        제목멋진제목멋진제목멋진제목멋진제목멋진제멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진
      </p>
      <p>
        제목멋진제목멋진제목멋진제목진제목제목제목제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진제목멋진
      </p>
    </div>
    <p class="mt-3 ion-text-end medium">제목제목제목</p>

  </section>

</ion-content>