<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <div class="page-width-md mt-5 flex-center">
      <h1 class="normal fs-lg green">
        {{ tipTitle.post_title }}
      </h1>
      <app-admin-page-edit-button class="d-block ml-5" [guid]=" guid " (edited)=" tipTitle = $event "></app-admin-page-edit-button>
  </div>



  <section class="page-width p-20px md-pb-150px" *ngIf=" post ">

    <ion-text color="medium">
      {{ post['string1'] }}
    </ion-text>

    <h1 class="mt-2 fs-32px xs-fs-22px bold green-2">{{ post.post_title }}</h1>
    <div class="pt-4 border-top">
      <ion-img src="{{  post.files[0].url }}"></ion-img>
    </div>

    <div class="mt-4 pb-3 lh-30px border-bottom medium" [innerHTML]=" post.post_content "></div>
    <p class="mt-3 ion-text-end medium">{{ post['string2'] }}</p>

  </section>

</ion-content>