ion-item {
    margin-top: .5em;
    --border-color: #eee;
    --border-width: 1px 1px 1px 1px;
}



.bg-md-background-image {
    @media all and (min-width: 768px) {
        // background: url(https://ak1.picdn.net/shutterstock/videos/12296111/thumb/1.jpg) !important;
        // --background: url(https://ak1.picdn.net/shutterstock/videos/12296111/thumb/1.jpg) !important;
        --background: url(/assets/img/bg_mainblur.png) 0 0/100% 100% no-repeat !important;
    }
}

.mt-md-140px {
    @media all and (min-width: 768px) {
        margin-top: 140px;
    }
}


.mb-md-140px {
    @media all and (min-width: 768px) {
        margin-bottom: 140px;
    }
}


.border-md-gray {
    @media all and (min-width: 768px) {
        border: 1px solid #828280;
        border-top: 0;
        -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
 }



}