<ion-header no-border>
  <app-header [title]=" title "></app-header>
</ion-header>


<ion-content class="bg-light-gray bg-md-background-image">



  <ion-toolbar *ngIf="a.isDesktop" color="green" class="mobile-width mt-md-70px" text-center>
    <ion-title>이메일 주소</ion-title>
  </ion-toolbar>

  <section class="register mb-md-340px mobile-width px-23px pb-5 pt-1 border-md-gray  bg-light-gray">

    <form [formGroup]=" form " (ngSubmit)=" onSubmit() ">

      <ion-list class="ion-no-padding ion-no-margin bg-light-gray ">

        <ion-item mode="ios" lines="none">
          <ion-label position="floating" color="medium">{{ a.t({en: 'Email', ko: '이메일 주소'}) }}</ion-label>
          <ion-input class="no-border" name="user_email" formControlName="user_email"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.user_email ">{{ errors.user_email }}
        </ion-text>


        <ng-container *ngIf=" a.wp.userIsLoggedOut ">

          <ion-item mode="ios" lines="none">
            <ion-label position="floating" color="medium">{{ a.t({en: 'Password', ko: '비밀번호'}) }}</ion-label>
            <ion-input name="user_pass" formControlName="user_pass"></ion-input>
          </ion-item>
          <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.user_pass ">{{ errors.user_pass }}
          </ion-text>



          <ion-item mode="ios" lines="none">
            <ion-label position="floating" color="medium">{{ a.t({en: 'Password Confirm', ko: '비밀번호 재확인'}) }}
            </ion-label>
            <ion-input name="user_pass_confirm" formControlName="user_pass_confirm"></ion-input>
          </ion-item>
          <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.user_pass_confirm ">
            {{ errors.user_pass_confirm }}</ion-text>

        </ng-container>

        <ion-item mode="ios" lines="none">
          <ion-label position="floating" color="medium">{{ a.t({en: 'Nickname', ko: '닉네임'}) }}</ion-label>
          <ion-input name="display_name" formControlName="display_name"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.display_name ">{{ errors.display_name }}
        </ion-text>

        <ion-item mode="ios" lines="none">
          <ion-label position="floating" color="medium">{{ a.t({en: 'Mobile No.', ko: '핸드폰 번호'}) }}</ion-label>
          <ion-input name="mobile" formControlName="mobile"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.mobile ">{{ errors.mobile }}
        </ion-text>

      </ion-list>


      <ion-radio-group name="gender" formControlName="gender">
        <ion-grid class="mt-4">
          <ion-row>
            <ion-col size="6" class="flex-column-center ">

              <div class="flex-center">
                <ion-radio color="success" value="M" mode="md" class="h-15px w-15px"></ion-radio>
                <ion-text class="ml-1 dark-gray">{{ a.t({ en: 'Male', ko: '남자' }) }}</ion-text>
              </div>
              <div>
                <ion-img src="/assets/img/icons/male.png"></ion-img>
              </div>

            </ion-col>
            <ion-col size="6" class="flex-column-center">
              <div class="flex-center">
                <ion-radio color="success" value="F" mode="md" class="h-15px w-15px"></ion-radio>
                <ion-text class="ml-1 dark-gray">{{ a.t({ en: 'Female', ko: '여자' }) }}</ion-text>
              </div>
              <div>
                <ion-img src="/assets/img/icons/female.png"></ion-img>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
      <ion-text text-center class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.gender ">{{ errors.gender }}
      </ion-text>


      <ng-container *ngIf=" a.wp.userIsLoggedOut ">


        <div class="flex-center mt-3">

          <ion-checkbox name="agree" mode="md" color="green" formControlName="agree"></ion-checkbox>
          <ion-button fill="clear" mode="ios"
            class="ion-no-margin ion-no-padding mx-2 h-40px fs-14 black bold underline i-color-act-green">
            이용약관</ion-button>
          <ion-text style="display: inline-block;line-height: 40px">
            및
          </ion-text>
          <ion-button fill="clear" mode="ios"
            class="ion-no-margin ion-no-padding mx-2 h-40px fs-14 black bold underline i-color-act-green">
            개인정보 수집</ion-button>
          <ion-text style="display: inline-block;line-height: 40px">
            에 동의(필수)
          </ion-text>

        </div>

        <ion-text class="d-block mt-2 fs-sm ion-text-center" color="danger" *ngIf=" errors.agree ">{{ errors.agree }}
        </ion-text>

      </ng-container>

      <ion-button mode="md" type="submit" expand="full" color="green" class="h-50px mt-4 fs-14">
        {{ a.t({en: 'Register', ko: '회원가입' })}}
      </ion-button>

    </form>
  </section>

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>