<ion-header no-border>
  <app-header [title]=" title "></app-header>
</ion-header>


<ion-content>

  <section class="register px-3">

    <form [formGroup]=" form " (ngSubmit)=" onSubmit() ">

      <ion-list>

        <ion-item>
          <ion-label position="floating">{{ a.t({en: 'Email', ko: '이메일 주소'}) }}</ion-label>
          <ion-input name="loginid" formControlName="user_email"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.user_email ">{{ errors.user_email }}</ion-text>


        <ion-item>
          <ion-label position="floating">{{ a.t({en: 'Password', ko: '비밀번호'}) }}</ion-label>
          <ion-input name="loginid" formControlName="user_pass"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.user_pass ">{{ errors.user_pass }}</ion-text>



        <ion-item>
          <ion-label position="floating">{{ a.t({en: 'Password Confirm', ko: '비밀번호 재확인'}) }}</ion-label>
          <ion-input name="user_pass_confirm" formControlName="user_pass_confirm"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.user_pass_confirm ">{{ errors.user_pass_confirm }}</ion-text>


        <ion-item>
          <ion-label position="floating">{{ a.t({en: 'Nickname', ko: '닉네임'}) }}</ion-label>
          <ion-input name="display_name" formControlName="display_name"></ion-input>
        </ion-item>
        <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.display_name ">{{ errors.display_name }}</ion-text>

      </ion-list>


      <ion-radio-group name="gender" formControlName="gender">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="flex-column-center">

              <div class="flex-center">
                <ion-radio value="male" mode="md"></ion-radio>
                <ion-text>{{ a.t({ en: 'Male', ko: '남자' }) }}</ion-text>
              </div>
              <div class="p-3">[M-ICON]</div>

            </ion-col>
            <ion-col size="6" class="flex-column-center">
              <div class="flex-center">
                <ion-radio value="female" mode="md"></ion-radio>
                <ion-text>{{ a.t({ en: 'Female', ko: '여자' }) }}</ion-text>
              </div>
              <div class="p-3">[F-ICON]</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
      <ion-text class="d-block mt-2 fs-sm" color="danger" *ngIf=" errors.gender ">{{ errors.gender }}</ion-text>


      <div class="flex-center">
        <ion-checkbox name="agree" formControlName="agree"></ion-checkbox>
        <ion-label>
            <ion-button>이용약관</ion-button> 및 <ion-button>개인정보 수집</ion-button>에 동의(필수)
        </ion-label>
      </div>


      <ion-button type="submit" expand="full">
        {{ a.t({en: 'Register', ko: '회원가입' })}}
      </ion-button>

    </form>
  </section>


</ion-content>