<div class="position-absolute top right z-1000">
  <ion-button class="h-40px" color="green" size="small" fill="clear" no-margin (click)="pop.dismiss()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
</div>


<section class="p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ion-item no-padding>
      <ion-label color="medium" position="floating">Title</ion-label>
      <ion-input name="title" formControlName="title"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label color="medium" position="floating">Enter any notes here...</ion-label>
      <ion-textarea class="fs-14" name="content" formControlName="content" #text maxlength="255" type="text" rows="4"
        cols="20">
      </ion-textarea>
    </ion-item>

    <ion-text color="medium">
      <p class=" fs-12 ion-text-right">{{ !text.value ? 0 : text.value.length   }}/255</p>
    </ion-text>


    <ion-grid class="select  p-0 pt-50px ">
      <ion-row>
        <!-- <ion-col no-padding>
          <ion-item>
            <ion-label position="floating">Days</ion-label>
            <ion-select name="days" multiple interface="popover" formControlName="days">
              <ion-select-option value="sunday">일</ion-select-option>
              <ion-select-option value="monday">월</ion-select-option>
              <ion-select-option value="tuesday">화</ion-select-option>
              <ion-select-option value="wednesday">수</ion-select-option>
              <ion-select-option value="thursday">목</ion-select-option>
              <ion-select-option value="friday">금</ion-select-option>
              <ion-select-option value="saturday">토</ion-select-option>
            </ion-select>
          </ion-item>
          <div class="line"></div>
        </ion-col> -->
        <ion-col no-padding>
          <ion-item>
            <ion-label position="floating">Hour</ion-label>
            <ion-input name="hour" formControlName="hour"></ion-input>
            <!-- <ion-select name="hour" interface="popover" formControlName="hour">
              <ng-container *ngFor="let h of hours; let i = index; ">
                <ion-select-option value="{{ i }}">{{ i }}</ion-select-option>
              </ng-container>
            </ion-select> -->
          </ion-item>
          <div class="line"></div>
        </ion-col>
        <ion-col no-padding>
          <ion-item>
            <ion-label position="floating">Minute</ion-label>

            <ion-input name="minute" formControlName="minute"></ion-input>
            <!-- <ion-select name="minute" interface="popover" formControlName="minute">
              <ng-container *ngFor="let h of minutes; let i = index; ">
                <ion-select-option value="{{ i }}">{{ i }}</ion-select-option>
              </ng-container>
            </ion-select> -->
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>




    <div class="pt-50px ion-text-center">
      <ion-button class="ion-no-margin h-52px  no-border no-box-shadow " expand="full" type="submit" color="green">
        Submit
      </ion-button>
    </div>


  </form>




</section>