.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

// .select ion-item {
//     border-left: 1px solid  rgba(0,0,0,0.13);

// }

// .select ion-col:first-child {
//     ion-item {
//         border-left: none !important;
//     }
// }

.line {
  position: absolute !important;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 30px !important;
  border-right: 1px solid #e7e7e7;
  margin: auto !important;
}

// ion-radio {
//   --border-color: #ccdbc6 !important;
//   --border-width: 1px 1px 1px 1px !important;
//   --border-color-checked: #7db262;
//   --checkmark-color: #7db262 !important;
//   --background: #fff !important;
//   --background-checked: #fff !important;
//   --size: 15px !important;
//   --border-radius: none !important;
//   height: 30px !important;
//   width: 30px !important;
//   margin-right: 10px !important;
// }

ion-radio {
  --color-checked: #7db262;
  border: 1px solid #7db262;
  width: 24px;
  margin-right: 8px;
}
