.title-mobile {
    @media all and (max-width: 768px)  {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;
    }
}

.page-width {
    @media all and (min-width: 768px) {
        margin: 0 auto;
        max-width: 970px;
    }
}