h1 {
    @media all and (max-width: 768px)  {
        position: absolute;
        left: 50%; 
        bottom: 0;
        transform: translateX(-50%);
    }
}

.page-width {
    @media all and (min-width: 768px) {
        margin: 0 auto;
        max-width: 970px;
 
    }
}