.title-mobile {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0.2);
   
}

ion-row:first-child {    
    padding-top: 0 !important;
}






.photo {
    min-height: 38px !important;
}

.page-width {
    @media all and (min-width: 768px) {
        margin: 0 auto;
        max-width: 970px;
    }
}