<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

      <section class="page-width pb-100px md-pb-150px p-4 fs-12">
      
        <div class="pb-4">
          <ion-text color="green">
            <h1 class="title fs-16px bold">{{ childTitle?.post_title }}</h1>
          </ion-text>
          <app-page-post-content [guid]=" childTitle " [post]=" childTitle " (edited)=" childTitle = $event ">
            </app-page-post-content>
        </div>
      
        <div class="position-relative mt-1" *ngFor=" let item of posts | keyvalue; let i = index ">
          <ion-text class="bold red">
            <p>{{item.value?.post_title}}</p>
          </ion-text>
      
          <div class="content">
            <app-page-post-content [guid]=" name + '-' + i " [post]=" item.value " (edited)=" item.value = $event ">
            </app-page-post-content>
          </div>
      
        </div>
      
      
      </section>

  <ng-container *ngIf="a.isDesktop">
      <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>