<ion-header no-border>
  <app-header [homeIcon]=" true "></app-header>
</ion-header>

<ion-content>


  <ng-container *ngIf=" a.isMobile ">
    <app-mobile-home-top-menu></app-mobile-home-top-menu>
    <app-mobile-home-top-slider></app-mobile-home-top-slider>
    <app-mobile-home-calc-button></app-mobile-home-calc-button>
    <app-mobile-home-testimonial></app-mobile-home-testimonial>
    <app-mobile-home-products></app-mobile-home-products>
    <!-- <app-mobile-home-bottom-buttons></app-mobile-home-bottom-buttons> -->
  </ng-container>

  <ng-container *ngIf=" a.isDesktop ">
    <app-desktop-home-top-slider></app-desktop-home-top-slider>
    <app-desktop-home-testimonial></app-desktop-home-testimonial>
    <app-desktop-home-products></app-desktop-home-products>
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>