<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content class="bg-color">

  <ion-segment class="menu md-pt-50px bg-white" color="success" mode="md" [value]=" segmentValue " (ionChange)="segmentChanged($event)"> 

    <ion-segment-button mode="md" value="toxins">
      <ion-label>독소지수 측정</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="beeman">
      <ion-label>비만도 측정</ion-label>
    </ion-segment-button>

  </ion-segment>

  <section> 
      <ng-container *ngIf="segmentValue === 'toxins'">
          <app-toxin-test></app-toxin-test>
      </ng-container> 
    
      
      <ng-container *ngIf="segmentValue === 'beeman'">
         <app-beeman-test></app-beeman-test>
      </ng-container> 
    
  </section>
  
  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>


</ion-content>