
<ion-segment  color="success" mode="md">
    
    <ion-segment-button routerLink="/how-to-detox-my-body" mode="md" class="w-72px  m-width-72px m-height-56px no-bottom-line no-ripple ">
        <ion-icon class="fs-22px" mode="md" name="document"></ion-icon>
        <ion-label class="fs-12">{{ a.t({en: 'Manual', ko: '설명서'}) }}</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="md" routerLink="/detoxification-tip" class="w-72px  m-width-72px m-height-56px no-bottom-line no-ripple">
        <ion-icon class="fs-22px" mode="md" name="thumbs-up"></ion-icon>
        <ion-label class="fs-12">{{ a.t({en: 'Tips', ko: '해독꿀팁'}) }}</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="md" routerLink="/home-training/meditation" class="w-72px  m-width-72px m-height-56px no-bottom-line no-ripple">
        <ion-icon class="fs-22px" mode="md" name="fitness"></ion-icon>
        <ion-label class="fs-12">{{ a.t({en: 'Training', ko: '홈트레이닝'}) }}</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="md" routerLink="/detoxification-diary" class="w-72px  m-width-72px m-height-56px no-bottom-line no-ripple">
        <ion-icon class="fs-22px" mode="md" name="bookmarks"></ion-icon>
        <ion-label class="fs-12">{{ a.t({en: 'Diary', ko: '해독일지'}) }}</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="md" routerLink="/detoxification-recipe" class="w-72px  m-width-72px m-height-56px no-bottom-line no-ripple">
        <ion-icon class="fs-22px" mode="ios" name="book"></ion-icon>
        <ion-label class="fs-12">{{ a.t({en: 'Recipe', ko: '해독레시피'}) }}</ion-label>
    </ion-segment-button>
</ion-segment>