<!-- <div class="ion-text-center py-10 gray flex-between">

      <div>
          <img src="/assets/img/buttons/1.png">
          <div>Menu 1</div>
      </div>
      <div>
          <img src="/assets/img/buttons/2.png">
          <div>Menu 1</div>
      </div>
      <div>
          <img src="/assets/img/buttons/3.png">
          <div>Menu 1</div>
      </div>
      <div>
          <img src="/assets/img/buttons/1.png">
          <div>Menu 1</div>
      </div>
  </div> -->


<!-- 
<div class="flex-space-around m-height-56px gray">
    <div class="ion-text-center m-height-56px w-72px ">
        <div class="h-28px pt-5">
            <ion-icon class="fs-22px" mode="md" name="document"></ion-icon>
        </div>
        <ion-label class="fs-12">상표상</ion-label>
    </div>
    <div class="ion-text-center m-height-56px w-72px ">
        <div class="h-28px pt-5">
            <ion-icon class="fs-22px" mode="md" name="thumbs-up"></ion-icon>
        </div>
        <ion-label class="fs-12">상표상상</ion-label>
    </div>
    <div class="ion-text-center m-height-56px w-72px ">
        <div class="h-28px pt-5">
            <ion-icon class="fs-22px" mode="md" name="fitness"></ion-icon>
        </div>
        <ion-label class="fs-12">상표상상상</ion-label>
    </div>
    <div class="ion-text-center m-height-56px w-72px  ">
        <div class="h-28px pt-5">
            <ion-icon class="fs-22px" mode="md" name="bookmarks"></ion-icon>
        </div>
        <ion-label class="fs-12">상표상상</ion-label>
    </div>
    <div class="ion-text-center m-height-56px w-72px ">
        <div class="h-28px pt-5">
            <ion-icon class="fs-22px" mode="ios" name="book"></ion-icon>
        </div>
        <ion-label  class="fs-12">상상상표상</ion-label>
    </div>
</div> -->
<!-- 
<ion-toolbar style="border-bottom: 1px solid gray;height: 43px;">
            <ion-title text-center class="fs-12">상상상표상상상상표+</ion-title>
</ion-toolbar> -->

<div class="ion-text-center fs-14px lh-43px ion-color-medium h-43px border-bottom-gray">
        상상상표상상상상표+
</div>

<ion-segment  color="success" mode="md">
    <ion-segment-button  mode="md" class="w-72px  m-width-72px m-height-56px no-bottom-line pt-3px " checked>
        <ion-icon class="fs-22px" mode="md" name="document"></ion-icon>
        <ion-label class="fs-12">상상상</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" class="w-72px  m-width-72px m-height-56px no-bottom-line pt-3px ">
        <ion-icon class="fs-22px" mode="md" name="thumbs-up"></ion-icon>
        <ion-label class="fs-12">상상상표</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" class="w-72px  m-width-72px m-height-56px no-bottom-line pt-3px ">
        <ion-icon class="fs-22px" mode="md" name="fitness"></ion-icon>
        <ion-label class="fs-12">상상상표상</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="md" class="w-72px  m-width-72px m-height-56px no-bottom-line pt-3px ">
        <ion-icon class="fs-22px" mode="md" name="bookmarks"></ion-icon>
        <ion-label class="fs-12">상상상상</ion-label>
    </ion-segment-button>

    <ion-segment-button mode="md" class="w-72px  m-width-72px m-height-56px no-bottom-line pt-3px ">
        <ion-icon class="fs-22px" mode="ios" name="book"></ion-icon>
        <ion-label class="fs-12">상상상표상</ion-label>
    </ion-segment-button>
</ion-segment>