<div class="bg-light-gray w-100">
  <div class="fs-30px green ion-text-center pt-85px pb-45px">
    AWESOME
  </div>



    <ion-grid class="ion-no-padding layout-width" fixed>
        <ion-row >
          <ion-col class="i-col-padding-10" *ngFor="let x of [].constructor(4)">
            <ion-card class="i-bg-green ion-no-margin card">
              <ion-card-header class="py-25px mx-25px">
                <ion-card-title class="white">AWESOME TITLE</ion-card-title>
                <ion-card-subtitle class="white m-0 pt-5px">AWESOME TITLE</ion-card-subtitle>
              </ion-card-header>
              <img height="250" src="/assets/img/no-image.png">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


  
  <div class="ion-text-center pt-65px pb-80px">
    <ion-button class="w-200px h-60px bg-white"  fill="outline" color="success">
      <ion-label class="green">Label</ion-label>
    </ion-button>
  </div>
</div>