<div class="bg-light-gray w-100">

  <h2 class="pm-0 pt-85px pb-45px ion-text-center fs-30px green">프로그램 후기</h2>

  <ion-grid class="ion-no-padding layout-width" fixed>
    <ion-row>
      <ion-col class="i-col-padding-10" size="3" *ngFor="let p of posts">
        <ion-card style="height: 310px !important;" class="ion-no-margin card" mode="ios" routerLink="/post-view">

          <ion-card-header class="py-25px px-12px i-bg-green ">
            <ion-card-title class=" white   bold fs-14 ellipsis"> {{ p.post_title }} </ion-card-title>
            <ion-card-subtitle class=" fs-12 m-0 letter-spacing-0 pt-5px ellipsis" color="light">
              {{ p.post_content }}
            </ion-card-subtitle>
          </ion-card-header>

          <!-- <ion-card-content class="py-25px px-12px bg-green ">
            <p class=" white   bold fs-14">title</p>
            <p style="text-overflow: ellipsis !important" class=" fs-12 m-0 letter-spacing-0 pt-5px">
              contentasdhfljahfjadasfffffffffffffffffffffffffdhfajflasfhj</p>
          </ion-card-content> -->

          <img style="height: 238px; width: 254px" src="{{ p.files[0].url }}">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-text-center pt-65px pb-80px">
    <ion-button mode="md" class="w-200px h-65px bg-white" fill="outline" color="success" routerLink="/testimonial">
      <ion-label class="dark-green fs-16px bold">더 보기</ion-label>
    </ion-button>
  </div>
</div>