<div class="bg-light-gray w-100">
  <div class="fs-30px green ion-text-center  bold pt-85px pb-45px">
    설명서설명서
  </div>

   
    <ion-grid class="ion-no-padding layout-width" fixed>
        <ion-row >
          <ion-col class="i-col-padding-10" *ngFor="let x of [].constructor(4)">
            <ion-card class="ion-no-margin card" mode="ios">
              <ion-card-header class="py-25px px-20px i-bg-green ">
                <ion-card-title class="white   bold fs-14"> 명서설명서설명서  </ion-card-title>
                <ion-card-subtitle color="light" class=" fs-12 m-0 letter-spacing-0 pt-5px">명서설명 명서설명 명서설명 명서설명</ion-card-subtitle>
              </ion-card-header>
              <img  src="/assets/img/no-image.png">
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>


  
  <div class="ion-text-center pt-65px pb-80px">
    <ion-button mode="md" class="w-200px h-65px bg-white"  fill="outline" color="success">
      <ion-label class="dark-green fs-16px bold">설명서</ion-label>
    </ion-button>
  </div>
</div>