.menu {
    @media all and (min-width: 768px) {
        margin: 0 auto;
        max-width: 460px;
    }
}


ion-label {
    @media all and (max-width: 768px) {
        letter-spacing: 0;
        font-size: 12px !important;
    }
}
ion-segment-button {
    --padding-start: 0 !important;
    --padding-end: 0 !important;
}
