<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <app-join-menu></app-join-menu>
  
  <section class="xs-pb-50px md-pb-100px  md-pt-30px">

    <app-home-training-menu (change)="onChangeTab($event)"></app-home-training-menu>


    <app-home-training-menu-list [class.selected]="show == 'list'" #list (selected)=" onSelected($event) ">
    </app-home-training-menu-list>

    <app-home-training-menu-item [class.selected]="show == 'item'"  #item></app-home-training-menu-item>

    
  </section>



  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>



</ion-content>

