.page-width {
  max-width: 950px !important;
  margin: 0 auto !important;
}

.title {
  @media all and (min-width: 768px) {
    padding-top: 50px;
    font-size: 32px !important;
    text-align: center;
  }
  @media all and (max-width: 768px) {
    font-size: 16px !important;
  }
}
