<!-- <ion-header no-border>
  <app-header></app-header>

</ion-header> -->

<ion-content>
  <div class="bg" routerLink="/join/detoxification-diary">

  </div>
  <section class="page xy-center">
    <app-ion-post-edit [layout]="layout" [slug]="'diary'" [header]="{}" [post]="post" (edited)="onEdited()"
      (edit)="onEdit($event)" (goBack)="onGoBack()"></app-ion-post-edit>
  </section>

  <!-- 

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>
 -->

</ion-content>