.post_content {
    line-height: 1.5em !important;
}

.post_content p {
    margin: 1em 0 !important;
}


app-admin-page-edit-button {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}