<ion-toolbar color="green" mode="ios">
  <ion-buttons slot="start">


    <ion-back-button mode="md"></ion-back-button>



  </ion-buttons>


  <ion-title class="ion-text-center">
    <img routerLink="/" class="no-outline pointer" src="/assets/img/logo/mobile_logo.png" alt="Site Logo Title - 7Detox"
      *ngIf=" ! title ">
    <ion-label *ngIf=" title ">{{ title }}</ion-label>
  </ion-title>


  <ion-buttons slot="end">
    <ion-button (click)="a.openSideMenu()">
      <ion-icon slot="icon-only" name="menu"></ion-icon>
    </ion-button>

  </ion-buttons>

  <div class="mobile-width" [ngClass]="{show: a.state.searchbar?.show, hide: !a.state.searchbar?.show }">
    <ion-searchbar placeholder="검색어를 입력하세요." #search (keyup.enter)="a.onChangeSearchKeyword(search.value)">
    </ion-searchbar>
  </div>



</ion-toolbar>