<ion-toolbar class="i-min-height pl-2 ">
  <ion-title class="fs-14 bold pl-0  ">{{ a.t({ en: 'Products', ko: '제품 소개' }) }}</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/products" class="green fs-12 i-pr-0">
      more
      <ion-icon name="arrow-forward" mode="ios"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<!-- slider by two -->
<div class="bg-light-gray">
  <ion-slides [options]="options" class="px-3 py-10px">
    <ion-slide *ngFor="let items of [].constructor(10)" class="px-1">
      <ion-card class="ion-no-margin  card bg-white fs-12" mode="ios" routerLink="/post-view">
        <ion-img src="\assets\img\product\product_mobile.png" class="min-height-100px" alt="product_image"></ion-img>
        <ion-card-title class="pt-2 px-11px ion-text-start fs-14 bold  ">Detox 제품제</ion-card-title>
        <ion-card-content class="ion-no-margin ion-no-padding px-11px pb-3 ion-text-start ">
          <p class="m-0 pb-2 fs-12 gray ">Fox News Sunday with Chris Wallace</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>

<!-- <div class="ion-text-center fs-14px lh-43px ion-color-medium h-43px border-bottom-gray">
  상상상표상상상상표+
</div> -->

<ion-button class="m-0 no-box-shadow ion-no-margin dark-gray i-btn-white border-bottom-gray no-outline"  expand="full" routerLink="/products">
  <ion-label>{{ a.t({ en: 'See more products', ko: '더 많은 제품 보기' })}}</ion-label>
  <ion-icon name="ios-add-circle" color="green" slot="end"></ion-icon>
</ion-button>
