<ion-toolbar>
  <ion-title>{{ a.t({ en: 'Products', ko: '제품 소개' }) }}</ion-title>
  <ion-buttons slot="end">
    <ion-button routerLink="/products">
      <span class="arrow-text">More </span>
      <ion-icon class="arrow-icon" name="arrow-forward" mode="ios"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>



<!-- slider by two -->
<div class="bg-light-gray">
  <ion-slides [options]="options" class="min-height-200px px-20px">
    <ion-slide *ngFor="let items of [].constructor(10)">
      <ion-card class="card bg-white mx-5px my-10px" mode="ios" routerLink="/post-view">
        <ion-img [src]="img" class="min-height-100px" alt=""></ion-img>

        <ion-card-header>
          <ion-card-title class="ion-text-left">TITLE</ion-card-title>
        </ion-card-header>

        <ion-card-content class="ion-text-start" no-padding>
          <p>Casdasdasdasdasdasdasd</p>

          <!-- <div class="dark-gray pt-10  px-10 bold fs-14">TITLE</div> -->
          <!-- <div class="p-10 pt-5 fs-14">
            <ion-text color="medium"> -->
          <!-- <p>Casdasdasdasdasdasdasd</p> -->
          <!-- </ion-text>
          </div> -->
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>

<!-- <div class="ion-text-center fs-14px lh-43px ion-color-medium h-43px border-bottom-gray">
  상상상표상상상상표+
</div> -->

<ion-button class="no-box-shadow" color="light" expand="full" routerLink="/products">
  <ion-label>{{ a.t({ en: '', ko: '더 많은 제품 보기' })}}</ion-label>
  <ion-icon name="add-circle"></ion-icon>
</ion-button>
