<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <section class="page post-view page-width px-2 pt-20px pb-100px mb-20px" *ngIf="post">

    <!-- <div>
      Edit / Delete / Like / Post List
    </div> -->

    <main>

      <h1 class="fs-32px bold green ion-text-center">
        {{ post.post_title }}
      </h1>
      <div class="photos" *ngIf=" post.files.length ">
        <div *ngFor=" let photo of post.files ">
          <ion-img src="{{ photo.url }}"></ion-img>
        </div>
      </div>
      <article>
        <div class="post-view-content" [innerHTML]="a.safeHtml(post.post_content)"></div>
      </article>
    </main>
  </section>
</ion-content>