.title {
    font-size: 32px !important;
    text-align: center;
    padding-top: 12px !important;
    padding-bottom: 1.5em !important;
}
.page-width {
    max-width: 1000px !important;
    margin: 0 auto;
}
