<ion-header no-border>
  <app-header></app-header>
</ion-header>

<ion-content>

  <section class="px-4 pb-4 pt-0 page-width">
    <div class="position-relative">
      <ion-text class="title" color="green" *ngIf="a.isDesktop">
        <h1 class="pt-3 pb-4 fw-600  fs-32px">{{ companyInfo.title?.post_title }}</h1>
      </ion-text>
      <app-page-post-content [guid]=" 'companyTitle' " [post]=" companyInfo.title "
        (edited)=" companyInfo.title = $event ">
      </app-page-post-content>
    </div>



    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class=" pr-60px" size="6" *ngIf="a.isDesktop">
          <ion-img class="pt-62px" src="{{ src(companyInfo.topPost) }}" *ngIf=" src(companyInfo.topPost)"></ion-img>
        </ion-col>
        <ion-col class="md-pl-2" size="12" size-md="4" no-padding>

          <ion-text color="green">
            <h2 class="fs-16px bold">{{ companyInfo.topPost?.post_title }}</h2>
          </ion-text>

          <div class="pt-3  fs-14 lh-25px gray">

            <app-page-post-content [guid]=" pageCode.top_post " [post]=" companyInfo.topPost "
              (edited)=" companyInfo.topPost = $event "></app-page-post-content>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>

  </section>

  <section class="mb-5 page-width" *ngIf="a.isDesktop">

    <h3 class="ion-text-center fs-32px fw-600" style="color: #024c7f;">{{ companyInfo.bottomPost?.post_title }}</h3>


    <div class="position-relative  mt-50px m-auto  ion-text-center max-w-600px  ">

      <div class="px-5">
        <img class="position-absolute top left size-25px " src="/assets/img/icons/quote.png">

        <div class="company-info-bottom fs-18px">

          <app-page-post-content [guid]=" pageCode.bottom_post " [post]=" companyInfo.bottomPost "
            (edited)=" companyInfo.bottomPost = $event "></app-page-post-content>


        </div>
        <img class="position-absolute bottom right size-15px " src="/assets/img/icons/quote2.png">
      </div>
    </div>

  </section>

  <section class="bottom-circles ion-text-center bg-md-background-image" *ngIf="a.isDesktop">

    <ion-grid class="px-3 pt-120px">
      <ion-row>
        <ion-col no-padding *ngFor=" let item of posts | keyvalue; let i = index ">
          <ion-text color="dark">
            <p class="bold fs-18px">{{item.value?.post_title}}</p>
          </ion-text>
          <ion-text color="medium">
            <div class="px-28px pt-2 letter-spacing-0">
              <app-page-post-content [guid]=" name + '-' + i " [post]=" item.value " (edited)=" item.value = $event ">
              </app-page-post-content>
            </div>
          </ion-text>
        </ion-col>


      </ion-row>
    </ion-grid>
  </section>

  <section *ngIf="a.isDesktop">
    <ion-img src="/assets/img/companybottom2.jpg"></ion-img>
  </section>

  <ng-container *ngIf="a.isDesktop">
    <app-desktop-home-footer></app-desktop-home-footer>
  </ng-container>

</ion-content>